[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "modules/K3-Cache_Redis"]
	path = modules/K3-Cache_Redis
	url = git://github.com/jmhobbs/K3-Cache_Redis.git
[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "plugins/feedwriter"]
	path = plugins/feedwriter
	url = git://github.com/ushahidi/swiftriver-plugin-feedwriter.git
[submodule "plugins/email"]
	path = plugins/email
	url = git://github.com/ushahidi/swiftriver-plugin-email.git
[submodule "plugins/mediaextractor"]
	path = plugins/mediaextractor
	url = git://github.com/ushahidi/swiftriver-plugin-mediaextractor.git
[submodule "plugins/rss"]
	path = plugins/rss
	url = git://github.com/ushahidi/swiftriver-plugin-rss.git
[submodule "plugins/swiftcore"]
	path = plugins/swiftcore
	url = git://github.com/ushahidi/swiftriver-plugin-swiftcore.git
[submodule "plugins/twitter"]
	path = plugins/twitter
	url = git://github.com/ushahidi/swiftriver-plugin-twitter.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = git://github.com/ekala/kohana-captcha.git
[submodule "modules/purifier"]
	path = modules/purifier
	url = git://github.com/shadowhand/purifier.git
