html { 
  width:100%;
  height:100%; 
  background:#18a7c4 url(../images/splash_bg_body-texture.png); 
}
body { 
  width:100%; 
  height:100%; 
  background: transparent url(../images/splash_bg_body-image.png) -100px 20px repeat-x;
}



/* --------------------------- HEADER */
.splash header { 
  background:transparent url(../images/splash_bg_header.png) top repeat-x;
  height:75px;
}

.splash .logo a { 
  background:transparent url(../images/splash_logo.png) no-repeat; 
  position:relative;
  margin-top:10px;
  padding:10px;
}
.beta-tag { 
  display:inline-block; 
  overflow:hidden; 
  position:absolute; 
  text-indent:-12310px; 
  width:35px; 
  height:13px; 
  background:transparent url(../images/tag_beta.png) no-repeat; 
  left:170px;
  top:10px;
}
header .left_bar, header .right_bar, header hgroup, header .logo { background:none; }


.splash .account { text-align:left; }
.splash .account li a { color:#fff; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.45); }
.splash .account li span { color:#fff; position:relative; top:-36px; text-shadow:1px 1px 0px #000; left:-3px; }

/* --------------------------- FOOTER */
footer { background:#005c83 url(../images/bg_footer.png) top repeat-x; }

/* --------------------------- HERO BOX */
.hero-box  { height:auto; }

.hero-statements  {
  max-width:960px; margin:0 auto; padding-top:1px;
}
.hero-statements p { font-weight:bold; color:#fff; text-shadow:none; text-align:left; padding:20px; } 
  .slide-1 { font-size:3em; margin-top:40px; }
  .slide-2 { font-size:3.75em; }
  .slide-3 { font-size:3.7em; }
  

.blue-glow {
  text-shadow: 0 0 10px #24abc8; text-transform: uppercase;
  filter: glow(color=#24abc8,strength=10), alpha(opacity=70);
}

/* --------------------------- SIGNUP BOX */
.sign-up-box { 
  text-align:left;
  padding:18px 0;
  background:transparent url(../images/splash_bg_body-texture.png) repeat; 
  -moz-box-shadow:0px -1px 2px #3f3f3f;
  -webkit-box-shadow:0px -1px 2px #3f3f3f;
  box-shadow:0px -1px 2px #3f3f3f;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=0, direction=0, color='#3f3f3f');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=0, Direction=0, Color='#3f3f3f')"; }
  
  .sign-up-box h3 {
    font-size: 1.3em;
    padding: 3px 0 7px;
  }
  .sign-up-box input { 
    font-size: 1.1em;
    padding: 5px;
    width: 50%;
    }
    
  #sign-up-panels { margin:0 auto; max-width:960px; }
  
  /* Steps Titles*/
  ol.steps li   { 
    float:left; 
    color:#c7c7c7; 
    font-size:1.5em; 
    font-weight:bold; 
    list-style:none; 
    padding:2px;
    margin:0 45px 10px 0;
  }
  ol.steps li:last-child{ margin-right:none; }
  
  ol.steps li a { color:#c7c7c7; padding:11px 10px 10px 9px; background:url(../images/splash_bg_signup-numbers.png) 0px -121px no-repeat;}
    ol.steps li a:hover { text-decoration: none; }  
    ol.steps li a span { padding:0 21px 0 1px; font-size:18px; color:#fff; display:inline-block; color:#fff; text-shadow:none; }
        
  .step-1 .s1 a,
  .step-2 .s2 a,
  .step-3 .s3 a { color:#188095; background:url(../images/splash_bg_signup-numbers.png) 0px 10px no-repeat; }
  
  /* Steps content styles */
  .sb-panel { padding:18px; display:none; }
      .sb-panel .button_go a { padding:20px 50px; }
  
  .highlight-box { background:#eef4f5; padding:10px; margin-bottom:25px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 1px 1px #494b4b; -webkit-box-shadow:0px 1px 1px #494b4b; box-shadow:0px 1px 1px #494b4b; filter: progid:DXImageTransform.Microsoft.Shadow(strength=1, direction=180, color='#494b4b'); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=1, Direction=180, Color='#494b4b')";  }
  
  .help-text h4 { font-size: 1.2em; margin:10px 0px; }
  .help-text p  { font-size: .9em; margin-bottom:10px; }
  
  .steps-panel-nav { text-align: center; margin-top:25px; }
  .steps-panel-nav a.next { color:#188095; font-size:2em; display:inline-block; padding:5px 8px; background:#eeeeee; border:1px solid; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;  }
  .steps-panel-nav a.next:hover { text-decoration:none; color:#17A9C6; }
  .steps-panel-nav span { position:relative; top:-5px; display:inline-block; margin-left:10px; }
  
  .channel-settings { text-align:right; font-size:.75em; width:96%; }
  .channel-settings a { display:inline-block; margin-top:18px; }
  
  .panel-left  { float:left; width:60%; } 
  .panel-right { float:left; width:33%; min-width:200px; padding:0 0 0 28px; }
  
  .step-1 #s1-box,
  .step-2 #s2-box,
  .step-3 #s3-box { display:block; }
  
  /* step 1 */
  #s1-box .center-align { margin-left:25%; }
  #s1-box input { min-width:330px; }
  
  /* step 2 */
  .splash .keywords { display:none; }
  .splash div#channels { padding:1.04167% 0; }
  .splash div#channels .controls { margin:15px 0; }
  .splash div#channels .controls ul.tabs { width:20%; min-width:95px; }
  .splash div#channels .controls ul.tabs li.button_view a span.switch_on, 
  .splash div#channels .controls ul.tabs li.button_view a span.switch_off { position:relative; top:-9px; }
  
  /* step 3 */
  h3.push-up { text-align:center; border-top:1px solid #838383; margin-top:18px; }
    h3.push-up span { position:relative; top:-15px; background:#eeeeee url(../images/splash_bg_body-texture.png) repeat; display:inline-block; padding:0 10px; }
  .login p { margin-bottom:18px; }
  .login p strong { display:block; }
  .login p.button_go { float:left; }
    .login p.button_go a { padding:15px 25px; }
  .login input { width:50%; }
  
  #s3-box .ht-not-ready { padding:18px 18px 18px 125px; background:#eef4f5 url(../images/splash_bg_view-river-panel.png) 18px 22px no-repeat; }
  #s3-box .ht-ready     { padding:18px 18px 18px 125px; background:#eef4f5 url(../images/splash_bg_view-river-panel.png) 18px -212px no-repeat; }
    #s3-box .ht-ready h3 { float:left; margin-top:25px; }
    .ht-ready .button_go { float:right; margin:18px 150px 10px 0; }
    #s3-box .panel-left  { float:left; width:50%; border-right:1px solid #838383; position:relative; padding-right:3%; } 
    #s3-box .panel-right { float:left; width:37%; padding:0  0 0 48px; }
    .or { position:absolute; right:-14px; top:110px; overflow:hidden; height:26px; width:26px; height:26px; background:transparent url(../images/splash_OR.png)no-repeat; text-indent:-234234px;}
  .hide { display:none; }
  

  /* --------------------------- Twipsy tooltips */
  .twipsy {
    display: block;
    position: absolute;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    z-index: 1000;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    text-shadow:none;
  }
  .twipsy.fade.in {
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .twipsy.above .twipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
  }
  .twipsy.left .twipsy-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
  }
  .twipsy.below .twipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
  }
  .twipsy.right .twipsy-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
  }
  .twipsy-inner {
    padding: 3px 8px;
    background-color: #000000;
    color: white;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .twipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .fade {
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    opacity: 0;
  }
  .fade.in {
    opacity: 1;
  }
  
  @media all and (max-width: 600px) {
  	.hero-statements {  } 
  	.slide-1 { font-size:2em; margin-top:20px; }
    .slide-2 { font-size:1.75em; }
    .slide-3 { font-size:1.7em; }
  }