@CHARSET "UTF-8";
section.analytics { font-size: 10px; }

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.y.axis path { 
	display: none;
}

.area, .bar {
	fill: steelblue;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

rect.background { fill: #EAF3F5; }

.arc path {
	stroke: #fff;
}

/**
 * --------------------
 * Analytics containers
 * --------------------
 */
.analytics-summary div.property-title, 
.analytics-summary div.parameter {
	text-align: center !important;
}

.analytics-summary div.property-title {
	float: none !important;
	padding: 0 !important;
}
.analytics-summary div.property-title h1 {
	color: #888 !important;
	font-size: 30px !important;
	float: none !important;
}

.property-parameters.data-table div.parameter span {
	float: left;
	padding: 10px;
}
.property-parameters.data-table div.parameter :first-child {
	width: 80%;
}

.property-parameters.data-table div.parameter :last-child {
	width: 10%;
	text-align: right;
}