.gldp-default {
	position: absolute;
	font-size: 1em;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Core style for every cell */
.gldp-default .core {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
	color: #222;
	background: #ffffff;
}

/* Cell border */
.gldp-default .border {
	border-style: solid;
	border-width: 0;
	border-color: #fff;
}

/* Month/Year text and select */
.gldp-default .monyear,
.gldp-default .monyear select {
	font-weight: bold;
	background: #eee;
}

/* Month/Year text */
.gldp-default .monyear span {
	margin: 0 5px 0 5px;
}

/* Prev/Next arrows */
.gldp-default .prev-arrow,
.gldp-default .next-arrow {
	color: #666;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

.gldp-default .prev-arrow:active,
.gldp-default .next-arrow:active {
	color: #000;
}

.gldp-default .prev-arrow-off,
.gldp-default .next-arrow-off {
	color: #000;
	opacity: 0.15;
}

/* Days of the week */
.gldp-default .dow {
	color: #222;
	cursor: wait !important;
	background: #eee;
}

/* Weekdays */
/*.gldp-default .mon,
.gldp-default .tue,
.gldp-default .wed,
.gldp-default .thu,
.gldp-default .fri {
	font-weight: bold;
}
*/
/* Weekend days */
/*.gldp-default .sat,
.gldp-default .sun {
	color: #888;
	font-weight: bold;
}
*/
/* Selectable days that are outside of current month being shown */
.gldp-default .outday {
	color: #aaa !important;
}

/* Hover */
.gldp-default .mon:hover,
.gldp-default .tue:hover,
.gldp-default .wed:hover,
.gldp-default .thu:hover,
.gldp-default .fri:hover,
.gldp-default .sat:hover,
.gldp-default .sun:hover {
	background: #eee;
}

/* Non-Selectable days */
.gldp-default .noday {
	color: #bbb;
	font-weight: normal;
	cursor: wait !important;
	background: #ddd;
}

/* Currently selected day */
.gldp-default .selected {
	color: #fff;
	font-weight: bold;
	border-color: #888;
	background: #aaa;
}

/* Today */
.gldp-default .today {
	color: #fff;
	font-weight: bold;
	border-color: #000;
	background: #222;
}

/* Special */
.gldp-default .special {
	color: #fff;
	font-weight: bold;
	border-color: #444;
	background: #666;
}
