@font-face {
	font-family: 'swiftriver-icons';
	src: url('../fonts/swiftriver-icons.eot');
	src: url('../fonts/swiftriver-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/swiftriver-icons.svg#swiftriver-icons') format('svg'),
		url('../fonts/swiftriver-icons.woff') format('woff'),
		url('../fonts/swiftriver-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'swiftriver-icons';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'swiftriver-icons';
	font-style: normal;
	speak: none;
}
.icon-bucket:before {
	content: "\21";
}
.icon-add_to_bucket:before {
	content: "\22";
}
.icon-added_to_bucket:before {
	content: "\23";
}
.icon-river:before {
	content: "\24";
}
.icon-home:before {
	content: "\25";
}
.icon-redo:before {
	content: "\26";
}
.icon-thumbs-up:before {
	content: "\27";
}
.icon-thumbs-down:before {
	content: "\28";
}
.icon-twitter:before {
	content: "\2a";
}
.icon-facebook:before {
	content: "\2b";
}
.icon-feed:before {
	content: "\2c";
}
.icon-google-plus:before {
	content: "\29";
}
.icon-cancel:before {
	content: "\2d";
}
.icon-mail:before {
	content: "\2f";
}
.icon-cog:before {
	content: "\2e";
}
.icon-plus:before {
	content: "\31";
}
.icon-arrow-down:before {
	content: "\32";
}
.icon-arrow-right:before {
	content: "\33";
}
.icon-undo:before {
	content: "\35";
}
.icon-comments:before {
	content: "\36";
}
.icon-checkmark:before {
	content: "\37";
}
.icon-locked:before {
	content: "\38";
}
.icon-close:before {
	content: "\39";
}
.icon-search:before {
	content: "\3a";
}
