a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a:link,
a:visited {
  color: #259cb5;
}
a img {
  border: none;
}
/* --------------------------- BASICS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #666666;
  text-align: center;
  font: normal 83%/1.2 Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #f6f6f6;
}
.nodisplay,
.label {
  display: none;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 */
.cf {
  zoom: 1;
}
.noscroll {
  overflow: hidden;
}
.base {
  text-align: left;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.col_3,
.col_4,
.col_8,
.col_9,
.col_10,
.col_12 {
  margin: 0 3.125%;
}
/* --------------------------- BUTTON */
.button-blue a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #54c2d5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54c2d5), to(#36b7ce));
  background-image: -webkit-linear-gradient(top, #54c2d5, #36b7ce);
  background-image: -moz-linear-gradient(top, #54c2d5, #36b7ce);
  background-image: -o-linear-gradient(top, #54c2d5, #36b7ce);
  background-image: -ms-linear-gradient(top, #54c2d5, #36b7ce);
  background-image: linear-gradient(top, #54c2d5, #36b7ce);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#54c2d5', EndColorStr='#36b7ce');
  padding: 5px 15px;
}
.button-blue a:hover {
  text-decoration: none;
  background-color: #36b7ce;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36b7ce), to(#54c2d5));
  background-image: -webkit-linear-gradient(top, #36b7ce, #54c2d5);
  background-image: -moz-linear-gradient(top, #36b7ce, #54c2d5);
  background-image: -o-linear-gradient(top, #36b7ce, #54c2d5);
  background-image: -ms-linear-gradient(top, #36b7ce, #54c2d5);
  background-image: linear-gradient(top, #36b7ce, #54c2d5);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#36b7ce', EndColorStr='#54c2d5');
}
.button-blue a:active {
  position: relative;
  top: 1px;
}
.button-blue a span.icon,
.button-white a span.icon {
  float: left;
}
.button-big a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 30px;
}
.button-small a {
  display: inline-block;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 25px;
  padding: 3px 10px;
}
.button-white a {
  display: inline-block;
  color: #888888;
  font-weight: bold;
  line-height: 27px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e8e8;
  background: #fff;
  padding: 5px 15px;
}
.button-white a:hover,
.active > .button-score a {
  color: #666666;
  text-decoration: none;
  border: 1px solid #cbcbcb;
}
.button-white.selected a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border: 1px solid #49b3c5;
  background: #54c2d5;
}
.has-icon a {
  padding-left: 0;
}
.only-icon a {
  padding: 0;
}
.notify-total {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d94343;
  background-color: #e88184;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e88184), to(#d71b2a));
  background-image: -webkit-linear-gradient(top, #e88184, #d71b2a);
  background-image: -moz-linear-gradient(top, #e88184, #d71b2a);
  background-image: -o-linear-gradient(top, #e88184, #d71b2a);
  background-image: -ms-linear-gradient(top, #e88184, #d71b2a);
  background-image: linear-gradient(top, #e88184, #d71b2a);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#e88184', EndColorStr='#d71b2a');
  padding: 1px 5px;
}
ul.dual-buttons li {
  float: left;
}
ul.dual-buttons li a {
  display: block;
}
ul.dual-buttons li:first-child a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #6cbfd0;
}
ul.dual-buttons li.button-white:first-child a {
  border-right: 1px solid #E4E8E8;
  background: #fff;
}
ul.dual-buttons li:first-child a:hover {
  background: #54c2d5;
}
ul.dual-buttons li.button-white:first-child a:hover {
  background: #fff;
}
ul.dual-buttons li:last-child a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid rgba(256, 256, 256, 0.17);
}
ul.dual-buttons li.button-white:last-child a {
  border-left: none;
}
ul.dual-buttons li.button-white a span.icon {
  float: none;
}
ul.dual-buttons li a span.icon {
  float: none;
  margin: 0 auto;
}
/* --------------------------- ICONS */
span.icon {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/icons-25x25.png) no-repeat;
  padding: 0 3px;
}
.bucket span.icon {
  background-position: center 1px;
}
.share span.icon {
  background-position: center -25px;
}
.like span.icon {
  background-position: center -50px;
}
.dislike span.icon {
  background-position: center -75px;
}
.like.scored span.icon {
  background-position: center -100px;
}
.dislike.scored span.icon {
  background-position: center -125px;
}
.twitter span.icon {
  background-position: center -150px;
}
.facebook span.icon {
  background-position: center -175px;
}
.google span.icon {
  background-position: center -200px;
}
.rss span.icon {
  background-position: center -225px;
}
.email span.icon {
  background-position: center -250px;
}
.swiftriver span.icon {
  background-position: center -275px;
}
.close span.icon {
  background-position: center -300px;
}
.settings span.icon {
  background-position: center -325px;
}
.search span.icon {
  background-position: center -350px;
}
.create span.icon {
  background-position: center -375px;
}
.add span.icon {
  background-position: center -400px;
}
.arrow-right span.icon {
  background-position: center -449px;
}
.arrow-left span.icon {
  background-position: center -449px;
}
.remove-large span.icon {
  background-position: center -475px;
}
.remove-small span.icon {
  background-position: center -500px;
}
.discussion span.icon {
  background-position: center -525px;
}
.back span.icon {
  background-position: center -575px;
}
.follow span.icon {
  background-position: center -600px;
}
.follow.selected span.icon {
  background-position: center -625px;
}
.rivers span.icon {
  background-position: center -650px;
}
.home span.icon {
  background-position: center -725px;
}
.alert-message {
  text-align: left;
  text-shadow: 0 1px 1px #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cbe1e8;
  background: #eaf3f5;
}
.alert-message.red {
  border: 1px solid #dc9494;
  background: #eec6c6;
}
.alert-message p {
  padding: 10px;
}
.alert-message p strong {
  display: block;
  color: #444444;
  font-size: 2em;
}
/* --------------------------- AVATAR IMAGE */
a.avatar-wrap {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}
a.avatar-wrap:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  -wekbit-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.8), 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.8), 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 0 rgba(256, 256, 256, 0.8), 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.avatar-wrap img {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* --------------------------- FORM ELEMENTS */
input,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444444;
  font-size: 0.9em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 1px 1px rgba(256, 256, 256, 0.4) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 5px;
}
input.name {
  width: 50%;
}
/* --------------------------- POPOVER */
ul.popover-window {
  display: none;
  position: absolute;
  z-index: 100;
}
ul.popover-window li a {
  display: block;
  border-bottom: 1px solid #E4E8E8;
  padding: 10px 20px 10px 10px;
}
ul.popover-window li:last-child a {
  border-bottom: 1px solid #fff;
}
ul.popover-window.header-toolbar {
  left: 0;
  width: 100%;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: #39b2d8;
  padding: 10px 0;
  margin-top: -4px;
}
ul.popover-window.header-toolbar li a {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  border-bottom: none;
  padding: 5px 20px 5px 10px;
}
ul.popover-window.header-toolbar li.group a {
  box-shadow: 0 1px 0 rgba(256, 256, 256, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(256, 256, 256, 0.15);
  padding: 10px;
  margin: 5px 0;
}
/* --------------------------- HEADER TOOLBAR */
header.toolbar {
  height: 40px;
  overflow: hidden;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: url(../img/header-toolbarBG.gif) bottom repeat-x;
}
header.toolbar .logo {
  float: left;
}
header.toolbar .logo a {
  display: block;
  width: 118px;
  height: 35px;
  background: url(../img/logo-swiftriver.png) center left no-repeat;
  background-size: 90%;
  padding: 2.5px 0;
  margin: 0 8px;
}
header.toolbar ul.global-menu {
  float: left;
  margin-top: 6px;
}
header.toolbar ul.user-menu {
  float: right;
}
header.toolbar ul.global-menu > li,
header.toolbar ul.user-menu > li {
  float: left;
}
header.toolbar ul.global-menu li.home {
  display: none;
}
header.toolbar ul.user-menu > li > a {
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(256, 256, 256, 0.17);
  padding: 0 7px;
}
header.toolbar ul.user-menu > li a:hover {
  text-decoration: none;
}
header.toolbar ul.global-menu > li span.icon {
  margin: 0 6px;
}
header.toolbar ul.user-menu > li span.icon {
  display: inline-block;
  margin: 6px auto;
}
header.toolbar ul.user-menu > li span.label {
  line-height: 40px;
}
header.toolbar ul.user-menu li.rivers a {
  border-left: none;
}
header.toolbar ul.user-menu li.user > a {
  border-right: none;
  padding: 4px 0 0 5px;
}
header.toolbar ul.user-menu li.login > a {
  border-right: none;
}
header.toolbar ul.user-menu li.login > a span.label {
  display: block;
}
header.toolbar ul.user-menu li.user > a span.notification {
  position: absolute;
  z-index: 100;
  top: -4px;
  right: -6px;
  color: #fff;
  font-size: 0.9em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #c1585b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c1585b), to(#9b0008));
  background-image: -webkit-linear-gradient(top, #c1585b, #9b0008);
  background-image: -moz-linear-gradient(top, #c1585b, #9b0008);
  background-image: -o-linear-gradient(top, #c1585b, #9b0008);
  background-image: -ms-linear-gradient(top, #c1585b, #9b0008);
  background-image: linear-gradient(top, #c1585b, #9b0008);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#c1585b', EndColorStr='#9b0008');
  padding: 2px 6px;
}
header.toolbar ul.user-menu li.user span.avatar-wrap {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
}
header.toolbar ul.user-menu li.user span.avatar-wrap:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  -wekbit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(256, 256, 256, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(256, 256, 256, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(256, 256, 256, 0.3) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header.toolbar ul.user-menu li.user span.avatar-wrap img {
  float: left;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header.toolbar .logo a:hover,
header.toolbar ul.global-menu > li a:hover,
header.toolbar ul.user-menu > li a:hover {
  opacity: 0.7;
}
header.toolbar ul.user-menu > li.user a:hover {
  opacity: 1;
}
/* --------------------------- PAGE TITLE */
hgroup.page-title {
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.9);
  -wekbit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
}
hgroup.user-title {
  text-align: left;
  text-shadow: 0 1px 1px #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
hgroup.bucket-title {
  -wekbit-box-shadow: 0 1px 1px #ffffff inset;
  -moz-box-shadow: 0 1px 1px #ffffff inset;
  box-shadow: 0 1px 1px #ffffff inset;
  background-color: #eaf3f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaf3f5), to(#dfedf0));
  background-image: -webkit-linear-gradient(top, #eaf3f5, #dfedf0);
  background-image: -moz-linear-gradient(top, #eaf3f5, #dfedf0);
  background-image: -o-linear-gradient(top, #eaf3f5, #dfedf0);
  background-image: -ms-linear-gradient(top, #eaf3f5, #dfedf0);
  background-image: linear-gradient(top, #eaf3f5, #dfedf0);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#eaf3f5', EndColorStr='#dfedf0');
  border-bottom: 1px solid #dbdbdb;
}
hgroup.user-title a.avatar-wrap {
  float: left;
  width: 20%;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 10px solid #fff;
  border-bottom: 7px solid #fff;
  margin-right: 15px;
}
hgroup.page-title .page-h1 {
  padding: 15px 0 10px;
}
hgroup.page-title h1 {
  color: #444444;
  text-overflow: clip clip;
  font-size: 1.6em;
}
hgroup.user-title h1 {
  color: #444444;
  padding-top: 6%;
}
hgroup.app-title h1 {
  text-align: left;
  color: #444444;
  padding: 3% 0 2%;
}
hgroup.page-title h1 em,
hgroup.app-title h1 em {
  color: #888888;
  font-style: normal;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
hgroup.page-title .page-actions {
  padding-bottom: 10px;
}
hgroup.page-title h2 {
  display: inline-block;
  font-size: 0.9em;
  line-height: 20px;
}
hgroup.page-title h2:last-child {
  margin-left: 10px;
}
hgroup.user-title h2 {
  font-size: 1.3em;
}
hgroup.page-title h2 span.icon {
  float: left;
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
}
hgroup.page-title h2.discussion span.icon {
  background-position: center -550px;
}
hgroup.page-title .page-actions h2 span.title {
  float: left;
}
hgroup.page-title div.follow-summary {
  padding-bottom: 3.5%;
}
hgroup.user-title div.follow-summary {
  clear: both;
  padding-top: 3.5%;
}
div.follow-summary p.follow-count {
  font-size: 1.2em;
  padding: 10px 0;
}
div.follow-summary p.follow-count a {
  color: #666666;
}
div.follow-summary p.follow-count a strong {
  color: #444444;
  font-size: 1.1em;
}
hgroup.user-title div.follow-summary p.button-white a {
  display: inline-block;
}

/* --------------------------- PAGE NAVIGATION */
nav.page-navigation {
  -wekbit-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.5) inset;
  -moz-box-shadow: 1px 0 0 rgba(256, 256, 256, 0.5) inset;
  box-shadow: 0 1px 0 rgba(256, 256, 256, 0.75) inset;
  border-bottom: 1px solid #dbdbdb;
}
nav.page-navigation ul {
  height: 35px;
  overflow: hidden;
}
nav.page-navigation ul li a {
  float: left;
  color: #666666;
  font-size: 0.9em;
  text-shadow: 1px 0 1px #fff;
  padding: 10px 20px;
}
nav.page-navigation ul li:first-child a {
  padding-left: 10px;
}
nav.page-navigation ul li.active a {
  color: #259cb5;
  font-weight: bold;
  background: url(../img/page-navigation_active.png) center bottom no-repeat;
}
nav.page-navigation ul li a:hover {
  color: #259cb5;
  text-decoration: none;
}
nav.page-navigation .filter-actions {
  text-align: right;
}
nav.page-navigation .filter-actions p {
  margin-top: 7px;
  margin-bottom: 7px;
}
nav.page-navigation .filter-actions p.button-blue a {
  line-height: 15px;
}
/* --------------------------- PAGINATION */
.pagination .button-blue {
  float: left;
  width: 22.91666667%;
}
.pagination > ul {
  float: left;
  width: 47.91666667%;
}
.pagination > ul li {
  display: inline-block;
  margin: 10px 3px;
}
.pagination > ul li a {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 5px 8px;
}
.pagination > ul li.current a {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(256, 256, 256, 0.9);
  background: #EAF3F5;
}
.pagination .button-blue a {
  padding-right: 0;
}
/* --------------------------- CONTENT */
#content.river {
  background: url(../img/contentBG-river-drops.gif) top repeat-x;
}
article.drop,
article.container {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* --------------------------- DROP */
.drop a.drop-image-wrap {
  display: block;
}
.drop img.drop-image {
  width: 100%;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  /* Firefox 4 */

  -webkit-transition: all 0.1s;
  /* Safari and Chrome */

  -o-transition: all 0.1s;
  /* Opera */

}
.drop img.drop-image:hover {
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.drop h1 {
  font-weight: normal;
  font-size: 1.05em;
}
.drop h1 a.zoom-trigger {
  display: block;
  color: #666666;
}
.drop h1 a.zoom-trigger:hover {
  color: #444444;
  text-decoration: none;
}
.drop h1 span.drop-permalink {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-position: center -228px;
}
.drop h1 span.drop-permalink a {
  display: block;
  width: 20px;
  height: 20px;
}
.drop h1 span.drop-permalink:hover {
  opacity: .7;
}
p.metadata {
  font-style: italic;
  font-size: 0.85em;
  padding: 5px 0;
}
p.metadata a {
  color: #666666;
}
p.metadata span.icon {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 17px;
  height: 15px;
  background-position: center -531px;
  margin-left: 10px;
}
/* ---- DROP: ACTIONS */.drop .drop-actions ul li a {
  padding: 0;
}
.drop ul.score-drop li.scored a {
  font-size: 0.9em;
  line-height: 25px;
  background-color: #eaf3f5;
  padding-right: 5px;
}
.drop ul.score-drop li.like.scored a {
  color: #81c279;
  border: 1px solid #81c279;
}
.drop ul.score-drop li.dislike.scored a {
  border: 1px solid #cc9898;
}
.drop ul.score-drop li.scored a span.user-score {
  position: relative;
  color: #666666;
  font-size: 0.8em;
  top: -7px;
  right: 5px;
}
.drop ul.move-drop li.bucket a span.icon {
  background-position: center -675px;
}
.drop ul.move-drop li.bucket.added a span.icon {
  background-position: center -700px;
}
.drop ul.move-drop li.bucket.added a span.icon strong {
  position: relative;
  top: -8px;
  left: 5px;
  color: #3eb7d0;
  font-size: 9px;
  text-shadow: none;
}
/* ---- DROP: SOURCE */
.drop section.drop-source {
  background-color: #eaf3f5;
}
.drop section.drop-source div.byline {
  text-shadow: 0 1px 0 rgba(256, 256, 256, 0.9);
}
.drop section.drop-source div.byline h2 {
  color: #444444;
  font-size: 1.03em;
  line-height: 1.1em;
  padding: 3px 0;
}
.drop section.drop-source div.byline p.drop-source-channel {
  font-weight: bold;
  font-size: 0.9em;
}
.drop section.drop-source div.byline p.drop-source-channel a span.icon {
  float: left;
  position: relative;
  width: 15px;
  top: -5px;
  margin-right: 5px;
  padding: 0;
}
.drop-fullstory img {
  max-width: 100%;
}
/* ---- DROP: BUOY */
#buoy {
  -moz-box-shadow: 0 1px 10px rgba(54, 183, 206, 0.5);
  -webkit-box-shadow: 0 1px 10px rgba(54, 183, 206, 0.5);
  box-shadow: 0 1px 10px rgba(54, 183, 206, 0.5);
}
#buoy .buoy-message {
  display: none;
  position: absolute;
  top: -50px;
  left: -12%;
  width: 100%;
  border: 3px solid #259cb5;
  z-index: 1;
}
#buoy .buoy-message p {
  color: #444444;
  font-weight: bold;
  background: url(../img/icon-buoy.png) left no-repeat;
  padding: 20px 10px 20px 40px;
  margin-left: 5px;
}
/* ---- DROP: VIEW FULL */
.drop-full section.drop-source,
.drop-full div.drop-body,
.drop-full div.drop-actions,
.drop-full section.drop-sub {
  padding: 3.125%;
}
.drop-full section.drop-source {
  background: #eaf3f5 url(../img/drop-wave_full.gif) bottom left repeat-x;
}
.drop-full section.drop-source p.metadata {
  float: right;
}
.drop-full section.drop-source a.avatar-wrap {
  float: left;
  width: 17%;
  margin-right: 10px;
}
.drop-full div.drop-body h1 {
  font-size: 1.1em;
}
.drop-full label p.field {
  font-weight: bold;
  padding: 5px 0;
}
.drop-full div.drop-body textarea,
.drop-full .drop-fullstory textarea {
  width: 100%;
}
.drop-full .col_9 > .base > div.drop-actions ul.move-drop,
.drop-full.modal > .base > div.drop-actions ul.move-drop {
  float: right;
}
.drop-full div.drop-actions ul li a {
  padding: 5px 10px;
}
.drop-full section.drop-sub {
  border-top: 1px solid #ededed;
  margin-top: 10px;
}
.drop-full section.drop-sub h2 {
  font-size: 0.9em;
}
.drop-full .save-toolbar {
  margin-top: 15px;
}
/* VIEW FULL > FULL STORY */
.drop-full section.drop-fullstory h3 {
  font-size: 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 5px 0;
}
.drop-full section.drop-fullstory h3 a {
  color: #444444;
}
.drop-full section.drop-fullstory p {
  font-size: 0.95em;
  padding: 5px 0;
}
.drop-full section.drop-fullstory img.fullstory-image {
  float: right;
  max-width: 40%;
  margin: 10px 0 10px 10px;
}
/* VIEW FULL > MEDIA */
.drop-full section.drop-media div {
  margin: 5px 0 0;
}
.drop-full section.drop-media a {
  margin: 1px;
}
.drop-full section.drop-media img {
  max-height: 100px;
}
.drop-full section.drop-media img:hover {
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
/* VIEW FULL > RELATED DISCUSSION */
#zoom-container section.drop-discussion {
  padding: 0 2.08333333%;
}
.drop-full section.drop-discussion h3 {
  text-align: left;
  margin-top: 20px;
}
section.drop-discussion div.drop-body h1,
.drop section.drop-source div.byline h2 {
  font-size: 1em;
}
article.add-comment div.drop-body textarea {
  width: 100%;
}
#zoom-container section.drop-discussion div.drop-actions ul li a {
  padding: 5px;
}
section.drop-discussion div.drop-body p.remove-small {
  float: right;
  display: none;
}
/* VIEW FULL > META COLUMN */
section.meta-data {
  text-align: left;
  padding-bottom: 15px;
}
section.meta-data h3,
section.drop-discussion h3 {
  color: #fff;
  font-size: 0.9em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #c1c1c1;
  padding: 3px 10px;
}
section.meta-data h3:hover {
  cursor: pointer;
}
section.meta-data h3 span.icon {
  float: left;
  width: 10px;
  height: 15px;
  background-position: -8px -455px;
}
section.meta-data h3.open span.icon {
  background-position: -8px -431px;
}
section.meta-data h3 .button-blue a {
  float: right;
  line-height: 1.3em;
  padding: 0 5px;
}
section.meta-data .meta-data-content {
  display: none;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0.9em;
  padding: 5px 10px;
}
section.meta-data p,
section.meta-data ul li {
  padding: 5px 0;
}
section.meta-data a.media-image-wrap {
  display: block;
  width: 80%;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 5px solid #fff;
  margin: 10px auto;
}
section.meta-data img.media-image {
  width: 100%;
}
/* ---- DROP: VIEW DROPS */
.drops article.drop {
  margin: 15px 0;
}
.drops article.drop div.drop-actions {
  padding: 5px 10px 15px;
}
.drops article.drop a.drop-image-wrap {
  padding: 10px 10px 0;
}
.drops article.drop h1 {
  padding: 10px;
}
.drops article.drop section.drop-source {
  background: #eaf3f5 url(../img/drop-wave.gif) top right repeat-x;
  padding: 20px 10px 7px;
}
.drops article.drop section.drop-source a.avatar-wrap,
.list article.drop section.drop-source a.avatar-wrap {
  float: left;
  width: 22.72727273%;
  width: 15%;
  max-width: 100%;
}
.drops article.drop section.drop-source div.byline,
.list article.drop section.drop-source div.byline {
  float: left;
  width: 63.63636364%;
  padding: 0 3.125%;
}
.drops article.drop ul.move-drop {
  float: right;
}
.drops article.drop ul.score-drop {
  float: left;
}
.drops article.drop div.drop-actions > ul li {
  float: left;
}
/**** Transitions ****/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}
/* ---- DROP: VIEW LIST */
.list article.drop .drop-content {
  float: left;
  width: 76.66666667%;
}
.list article.drop section.drop-source {
  background: #eaf3f5 url(../img/drop-wave_list.gif) top right no-repeat;
  padding: 3.125%;
}
.list article.drop .drop-body {
  padding: 15px 3.125%;
}
.list article.drop a.drop-image-wrap {
  float: right;
  width: 15%;
  overflow: hidden;
  border: 1px solid #e4e8e8;
  padding: 5px;
  margin-left: 10px;
}
.list article.drop div.drop-actions {
  float: left;
  width: 16.66666667%;
  padding: 3.125%;
}
.list .drop-actions ul li a {
  padding: 5px 0;
}
/* ---- DROP: VIEW PHOTOS */
.photos article.drop section.drop-source {
  background: #fff;
  padding: 10px;
}
.photos article.drop section.drop-source a.avatar-wrap {
  float: left;
  width: 20px;
}
.photos article.drop section.drop-source div.byline h2 {
  display: inline-block;
  font-size: 0.9em;
  padding: 3px 7px;
}
.photos article.drop section.drop-source div.byline p.drop-source-channel {
  display: inline;
  font-size: 0.8em;
}
.photos article.drop section.drop-source div.byline p.drop-source-channel span.icon {
  display: inline-block;
  float: none;
  position: relative;
  top: 3px;
}
.photos article.drop div.drop-actions {
  padding: 10px 10px 0;
}
.photos article.drop div.drop-actions ul.move-drop {
  float: right;
}
/* --------------------------- BUCKET */
section.rundown {
  display: none;
  text-shadow: 0 1px 1px #fff;
  -wekbit-box-shadow: 0 1px 1px rgba(256, 256, 256, 0.5) inset;
  -moz-box-shadow: 0 1px 1px rgba(256, 256, 256, 0.5) inset;
  box-shadow: 0 1px 1px rgba(256, 256, 256, 0.5) inset;
}
section.rundown.user {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
}
section.rundown.bucket {
  background: #dfedf0;
}
.rundown-people {
  text-align: left;
  padding-top: 5px;
}
.rundown-people h2 {
  float: left;
  font-size: 0.85em;
  line-height: 2.2em;
  padding-right: 5px;
}
.rundown-people ul,
.rundown-people ul li {
  display: inline;
}
.rundown-people ul li a.avatar-wrap {
  width: 25px;
  height: 25px;
  margin: 0 2px;
}
section.rundown .rundown-totals ul li {
  display: inline;
  font-size: 0.8em;
  padding: 0 5px;
}
section.rundown .rundown-totals ul li a {
  color: #666666;
}
section.rundown .rundown-totals ul li strong {
  color: #444444;
  font-size: 2em;
  line-height: 33px;
}
/* --------------------------- CONTAINER */
article.container a.remove-large {
  float: right;
  margin: 20px 10px 20px 0;
}
article.container div.property-title {
  float: left;
  padding: 10px 0;
}
article.container div.property-title a.avatar-wrap {
  float: left;
  width: 45px;
  margin-left: 10px;
}
article.container div.property-title h1 {
  float: left;
  color: #444444;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2.5em;
  padding: 0 10px;
}
article.container div.property-title h1 em {
  color: #777777;
  font-style: normal;
  font-weight: normal;
}
article.container div.property-title h1 a {
  color: #444444;
}
article.container div.property-title .add-parameter {
  float: right;
  margin: 5px 0 0 5px;
}
article.container p.button-white a {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 22px;
}
article.container p.button-white span.icon {
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
}
article.container .actions {
  float: right;
}
article.container header .actions {
  padding: 20px 10px;
}
article.container .actions p {
  display: inline-block;
  float: left;
}
article.container .actions p.follow-count {
  line-height: 2em;
  padding-right: 5px;
}
article.container header .actions p.follow-count {
  font-size: 0.9em;
}
/* ---- CONTAINER: PARAMETERS */
article.container section.property-parameters {
  -wekbit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05) inset;
  background: #eaf3f5;
}
article.container section.property-parameters p.category {
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid #c6c6c6;
  margin: 15px 10px 0;
}
article.container div.parameter {
  padding: 10px;
}
article.container div.parameter a.avatar-wrap {
  float: left;
  width: 10%;
  margin-right: 10px;
}
article.container div.parameter h2 {
  font-weight: normal;
  font-size: 1em;
}
article.container.action-list section.property-parameters {
  padding: 3px 0 6px;
}
article.container.action-list div.parameter h2 {
  padding-top: 3px;
}
article.container div.parameter h2 a {
  font-weight: bold;
}
article.container div.parameter label {
  font-size: 0.9em;
}
article.container div.parameter p.field {
  color: #666666;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  padding: 6px 0;
}
article.container div.parameter input[type="text"],
article.container div.parameter input[type="email"],
article.container div.parameter input[type="password"] {
  width: 50%;
  margin-left: 30px;
}
article.container div.parameter textarea,
article.container div.image-field img {
  margin-left: 30px;
}
article.container div.parameter div.actions {
  float: right;
  font-size: 0.8em;
}
article.container div.parameter .button-blue {
  padding: 0 5px;
}
article.container div.parameter .button-blue a {
  line-height: 1.1em;
  padding: 5px;
}
article.container div.parameter img.loading_image {
  max-height: 30px;
  max-width: 30px;
  vertical-align: middle;
}
article.container div.parameter img.loading_image,
article.container div.parameter span.success-message,
article.container div.parameter span.error-message {
  padding-left: 5px;
}
article.container div.parameter span.success-message {
  color: #81c279;
}
article.container div.parameter span.error-message {
  color: #cc9898;
}
article.container div.parameter .has_file {
  position: relative;
  overflow: hidden;
}
article.container div.parameter .button-blue input[type=file] {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  direction: ltr;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* --------------------------- SETTINGS */
#content.settings .settings-toolbar {
  text-align: left;
  padding-top: 3.125%;
}
.modal-body .settings-toolbar {
  padding: 3.125% 0;
}
.save-toolbar {
  opacity: .25;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ebebeb;
  padding: 10px;
  margin-bottom: 30px;
}
.save-toolbar.visible {
  opacity: 1;
}
.settings-toolbar p,
.save-toolbar p {
  display: inline-block;
}
.settings-toolbar p:first-child {
  margin-right: 10px;
}
.save-toolbar p a {
  padding: 10px 20px;
}
#content.settings .col_3 {
  padding-top: 15px;
}
select.boolean-operator {
  display: block;
  color: #444444;
  font: bold 1.1em/1em Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 3px;
  margin: 0 auto;
}
#content.settings div.alert-message {
  margin-top: 15px;
}
#content.settings section.property-parameters div.alert-message {
  margin-top: 0;
}
#content.settings div.alert-message p {
  text-align: left;
  padding: 20px;
}
#content.settings div.alert-message ul {
  text-align: left;
  margin: -20px 20px 20px 20px;
}
/* --------------------------- USER */
#content.user article.container div.property-title {
  padding: 5px 0;
}
#content.user article.container a.remove-large {
  margin: 13px 10px 13px 0;
}
#content.user section.property-parameters div.activity-item span.icon {
  float: left;
  padding: 0;
}
#content.user section.property-parameters div.activity-item div.item-body {
  float: left;
  width: 87%;
  padding-left: 5px;
}
/* --------------------------- DASHBOARD */
#content.dashboard #primer {
  margin-top: 15px;
}
#content.dashboard #primer .primer-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#content.dashboard #primer .primer-item h3 a {
  display: block;
  font-size: 0.9em;
}
#content.dashboard p.remove {
  font-size: 0.8em;
  text-align: right;
  margin: 7px 0;
}
#content.dashboard section.property-parameters div.activity-item a.avatar-wrap {
  width: 7%;
}
#content.dashboard section.property-parameters div.activity-item div.item-body {
  width: 87%;
}
#content.dashboard section.property-parameters div.activity-item div.item-body ul.dual-buttons {
  margin-left: 5px;
}
/* --------------------------- MODAL */
@-moz-keyframes modalPop {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes modalPop {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes modalHide {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(0);
  }
}
@-webkit-keyframes modalHide {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
div#modal-container,
div#confirmation-container,
div#zoom-container {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.75);
}
div#confirmation-container {
  background-color: rgba(0, 0, 0, 0.25);
}
div#zoom-container {
  background-color: rgba(0, 0, 0, 0.9);
}
div.modal-window {
  position: static;
  z-index: 2;
  overflow: hidden;
  width: 93.75%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin: 3.125%;
}
.visible div.modal-window {
  -moz-animation-duration: .2s;
  -moz-animation-name: modalPop;
  -webkit-animation-duration: .2s;
  -webkit-animation-name: modalPop;
}
div#modal-container article.modal {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
div#confirmation-container article.modal {
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
}
article.modal hgroup.page-title {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f9f9f9;
  padding: 0 2.083333333%;
}
article.modal hgroup.page-title h1 {
  font-size: 1.7em;
}
article.modal div.modal-body {
  text-align: left;
  padding: 10px 20px;
}
article.modal div.modal-body.modal-containers {
  background: #f6f6f6;
}
article.modal div.modal-body.create-new {
  border-top: 1px solid #e5e5e5;
}
article.modal div.modal-body h2 {
  font-size: 1em;
  padding: 7px 0;
}
div.modal-window .modal.col_9 {
  margin: 0;
}
/* ---- MODAL: DROP ZOOM */
#zoom-container .drop-full .settings-toolbar {
  position: fixed;
  bottom: 10px;
  right: 30px;
  padding: 10px;
}
#zoom-container .drop-full .settings-toolbar .close {
  display: none;
}
/* ---- MODAL: FORM SELECT LIST */
article.modal div.select-list {
  max-height: 150px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
}
article.modal div.select-list label {
  display: block;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 3px;
  margin: 5px 0;
}
article.modal div.select-list p.category {
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid #c6c6c6;
  margin: 15px 0 0 0;
}
article.modal form {
  display: block;
  padding: 10px 0;
}
article.modal div.create-new p.button-blue {
  display: inline-block;
}
article.modal div.create-new p.button-blue a {
  padding: 0 10px;
}
/* MODAL: Channel selection */
article.modal form label.selected {
  color: #444444;
  border: 1px solid #b2e6ae;
  background: #c1eebd;
}
article.modal form label.selected:after {
  float: right;
  color: #666666;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
  text-shadow: 0 1px 1px #fff;
  padding-right: 10px;
}
article.modal form.channels label.selected:after {
  content: 'open';
}
article.modal form.filters label.selected:after {
  content: 'in use';
}
/* ---- MODAL: LINK LIST */
article.modal div.link-list {
  max-height: 250px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
}
article.modal div.link-list p.category {
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid #c6c6c6;
  margin: 15px 0 0 0;
}
article.modal div.link-list ul {
  padding-bottom: 5px;
}
article.modal div.link-list ul li {
  clear: both;
  font-weight: bold;
  margin: 15px 0;
}
article.modal div.link-list ul li span.icon {
  float: left;
  width: 22px;
}
div.link-list ul li.twitter span.icon {
  background-position: left -154px;
}
div.link-list ul li.facebook span.icon {
  background-position: left -179px;
}
div.link-list ul li.google span.icon {
  background-position: left -202px;
}
div.link-list ul li.email span.icon {
  background-position: left -254px;
}
div.link-list ul li span.remove-small span.icon {
  position: relative;
  top: -5px;
}
div.link-list ul li.selected {
  color: #444444;
  border: 1px solid #b2e6ae;
  background: #c1eebd;
}
/* ---- MODAL: DROP SUMMARY */
article.modal section.drop-summary {
  text-align: left;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #eaf3f5 url(../img/drop-wave.gif) top right repeat-x;
  padding: 20px 2.083333333%;
  margin-top: 15px;
}
article.modal section.drop-summary a.avatar-wrap {
  position: relative;
  display: inline-block;
  float: left;
  width: 9%;
  max-width: 100%;
  vertical-align: bottom;
  margin: 0 1.041666667%;
}
article.modal section.drop-summary a.avatar-wrap:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  -wekbit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25) inset;
  box-shadow: 0 1px 0 #ffffff, 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
article.modal section.drop-summary a.avatar-wrap img {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
article.modal section.drop-summary div.drop-content {
  float: left;
  width: 86%;
  text-shadow: 0 1px 0 rgba(256, 256, 256, 0.9);
  margin: 0 1.041666667%;
}
div.modal-container article.modal section.drop-summary div.drop-content p strong {
  color: #444444;
}
article.modal section.drop-summary div.drop-content p.drop-source-channel {
  font-weight: bold;
  font-size: 0.9em;
  padding: 5px 0;
}
article.modal section.drop-summary div.drop-content p.drop-source-channel a span.icon {
  float: left;
  width: 15px;
}
/* ---- MODAL: SEARCH */
article.modal input.search {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article.modal div.search ul.dual-buttons {
  float: right;
  padding: 10px 0;
}
/* --- ####### SMALL VIEWPORT ###### --- */
@media screen and (max-width: 615px) {
  .center {
    min-width: 310px;
    margin: 0 auto;
  }
  .stacked ul.dual-buttons li:first-child a {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  .stacked ul.dual-buttons.score-drop li:first-child a {
    border-right: 1px solid #E4E8E8;
    background: none;
  }
  .stacked ul.dual-buttons li:last-child a {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid rgba(256, 256, 256, 0.25);
    border-left: none;
  }
  .stacked ul.dual-buttons.score-drop li:last-child a {
    border-left: 1px solid #E4E8E8;
  }
  .stacked ul,
  .stacked ul li.scored {
    float: none;
  }
  .stacked ul li {
    float: none;
    clear: both;
  }
  #page-views.col_9 {
    float: left;
  }
  .rundown-people {
    display: none;
  }
  .filter-actions {
    float: left;
    width: 18.75%;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset;
  }
  article.modal hgroup.page-title .page-h1 {
    float: left;
    text-align: left;
    padding: 15px 0;
  }
  article.modal hgroup.page-title h1 {
    font-size: 1.7em;
  }
  article.modal hgroup.page-title .page-actions {
    float: right;
    padding: 17px 0;
  }
}
/* --- ####### MEDIUM VIEWPORT ###### --- */
@media screen and (min-width: 615px) {
  .center {
    width: 90%;
    margin: 0 auto;
  }
  .col_1,
  .col_2,
  .col_3,
  .col_4,
  .col_6,
  .col_8,
  .col_9,
  .col_10,
  .col_12 {
    margin: 0 1.041666667%;
  }
  .col_1 {
    float: left;
    width: 6.25%;
  }
  .col_2 {
    float: left;
    width: 14.58333333%;
  }
  .col_3 {
    float: left;
    width: 22.91666667%;
  }
  .col_4 {
    float: left;
    width: 31.25%;
  }
  .col_6 {
    float: left;
    width: 47.91666667%;
  }
  .col_8 {
    float: left;
    width: 64.58333333%;
  }
  .col_9 {
    float: left;
    width: 72.91666667%;
  }
  .col_10 {
    float: left;
    width: 81.25%;
  }
  .col_12 {
    width: 97.916666667%;
  }
  .label {
    display: block;
  }
  header.toolbar {
    height: 55px;
  }
  header.toolbar .logo {
    margin: 0 15px 0 1.041666667%;
  }
  header.toolbar .logo a {
    background-size: 100%;
    padding: 8px 0;
    margin: 0;
  }
  header.toolbar ul.global-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px rgba(256, 256, 256, 0.25) inset;
    -webkit-box-shadow: 0 1px 1px rgba(256, 256, 256, 0.25) inset;
    box-shadow: 0 1px 1px rgba(256, 256, 256, 0.25) inset;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 13px;
  }
  header.toolbar ul.user-menu {
    margin-right: 1.041666667%;
  }
  header.toolbar ul.user-menu > li > a {
    width: auto;
    padding: 0 10px;
    margin: 7px 0;
  }
  header.toolbar ul.user-menu > li span.icon,
  header.toolbar ul.user-menu > li span.label {
    display: block;
    float: left;
  }
  header.toolbar ul.user-menu li.user span.avatar-wrap {
    width: 30px;
    height: 30px;
    margin: 2px 0 0 7px;
  }
  header.toolbar ul.user-menu li.user > a span.dropdown-arrow {
    display: block;
    float: right;
    width: 18px;
    height: 25px;
    background: url(../img/icons-25x25.png) left -421px no-repeat;
  }
  ul.popover-window.header-toolbar {
    width: auto;
    left: auto;
    margin-top: -3px;
    margin-left: -70px;
  }
  hgroup.page-title .page-h1 {
    text-align: left;
    padding: 22px 0;
  }
  hgroup.page-title h1 {
    font-size: 2.1em;
  }
  hgroup.page-title .page-actions,
  nav.page-navigation .filter-actions {
    -wekbit-box-shadow: -4px 0 5px rgba(0, 0, 0, 0.04), 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -4px 0 5px rgba(0, 0, 0, 0.04), 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.04), 1px 0 0 rgba(0, 0, 0, 0.1) inset;
    text-align: left;
  }
  hgroup.page-title .page-actions {
    padding: 28px 0;
  }
  hgroup.bucket-title .page-actions {
    padding: 34px 0;
  }
  hgroup.page-title .page-actions h2,
  nav.page-navigation .filter-actions p {
    display: block;
    clear: both;
    margin-left: 10px;
  }
  hgroup.page-title div.follow-summary {
    text-align: right;
    padding-top: 18px;
    padding-bottom: 0;
  }
  hgroup.user-title div.user-summary {
    float: left;
  }
  hgroup.user-title div.follow-summary {
    float: right;
    clear: none;
  }
  nav.page-navigation ul li a {
    font-size: 1em;
  }
  nav.page-navigation .river ul.touchcarousel-container li a {
    width: auto;
  }
  nav.page-navigation .settings ul.touchcarousel-container li a {
    width: 70px;
  }
  .pagination .button-blue a .label {
    display: inline-block;
  }
  .pagination .button-blue a {
    padding-right: 15px;
  }
  .pagination .button-blue.arrow-right a {
    padding: 5px 0 5px 15px;
  }
  .pagination .button-blue.arrow-right a span.icon {
    float: right;
  }
  #content.drops,
  #content.photos {
    padding-top: 10px;
  }
  #content.drops article.drop,
  #content.photos article.drop {
    float: left;
    margin: 7px 1.041666667% 10px;
  }
  /* ---- DROP: VIEW FULL */
  .drop-full section.drop-source,
  .drop-full div.drop-body,
  .drop-full div.drop-actions,
  .drop-full section.drop-sub {
    padding: 2.083333333%;
  }
  .drops article.drop section.drop-source a.avatar-wrap {
    width: 20%;
  }
  .drop-full section.drop-source a.avatar-wrap {
    width: 7%;
  }
  .drop-full section.drop-discussion h2 {
    padding-left: 1.041666667%;
  }
  .list article.drop div.drop-content {
    width: 82.29166667%;
  }
  .list article.drop section.drop-source {
    float: left;
    width: 17.72151899%;
    padding: 1.041666667%;
    min-height: 75px;
  }
  .list article.drop section.drop-source a.avatar-wrap,
  .list article.drop section.drop-source div.byline {
    float: none;
  }
  .list article.drop section.drop-source div.byline {
    padding: 0;
  }
  .list article.drop section.drop-source a.avatar-wrap {
    width: 55px;
  }
  .list article.drop section.drop-source div.byline {
    width: auto;
  }
  .list article.drop .drop-body {
    float: right;
    width: 77.21518987%;
    padding: 1.5625% 1.041666667%;
  }
  .list article.drop div.drop-actions {
    float: left;
    width: 15.625%;
    padding: 1.041666667%;
  }
  .list article.drop div.drop-actions ul li {
    width: 50%;
  }
  .photos article.drop div.drop-actions {
    padding: 0;
  }
  .photos article.drop div.drop-actions ul.move-drop {
    float: none;
    /* position: absolute;
     top: 10px;
     right: 10px; */
  
  }
  .photos article.drop div.drop-actions ul.score-drop {
    /*   position: absolute;
     top: 10px;
     left: 10px; */
  
  }
  .button-prev div {
    float: left;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 30px solid #EAF3F5;
    margin: 0 5px;
  }
  .button-next div {
    float: right;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 30px solid #EAF3F5;
    margin: 0 5px;
  }
  /* --------------------------- BUCKET */
  section.rundown {
    display: block;
  }
  section.rundown .rundown-totals {
    display: none;
  }
  /* --------------------------- CONTAINERS */
  article.container div.parameter a.avatar-wrap {
    width: 3.5%;
  }
  /* --------------------------- SETTINGS */
  #content.settings .settings-toolbar {
    padding-top: 15px;
  }
  #content.settings div.empty {
    margin: 1.041666667%;
  }
  article.container section.property-parameters p.field {
    float: left;
    width: 130px;
  }
  article.container section.property-parameters p.title {
    float: left;
    width: 90px;
    padding: 6px 5px 6px 0;
  }
  article.container section.property-parameters p.field-text {
    float: left;
    width: 50%;
    padding: 6px 5px 6px 30px;
    display: inline-block;
  }
  /* --------------------------- USER */
  #content.user section.property-parameters div.activity-item span.icon {
    display: none;
  }
  #content.user section.property-parameters div.activity-item div.item-body {
    width: auto;
  }
  /* --------------------------- DASHBOARD */
  #content.dashboard #primer section.property-parameters {
    padding: 1.428571429%;
  }
  #content.dashboard #primer .primer-item {
    float: left;
    width: 31.864%;
    -webkit-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(256, 256, 256, 0.5) inset;
    box-shadow: 0 1px 0 rgba(256, 256, 256, 0.5) inset;
    border: 1px solid rgba(0, 0, 0, 0.18);
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 100px 0 0 0;
  }
  #content.dashboard #primer .primer-item.learn {
    background-image: url(../img/content/primer-learn.gif);
  }
  #content.dashboard #primer .primer-item.create {
    background-image: url(../img/content/primer-create.gif);
    margin: 0 1.428571429%;
  }
  #content.dashboard #primer .primer-item.search {
    background-image: url(../img/content/primer-search.gif);
  }
  #content.dashboard #primer .primer-item h3 a {
    color: #fff;
    font-size: 0.9em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
  #content.dashboard section.property-parameters div.activity-item div.item-body {
    width: 89%;
  }
  /* --------------------------- MODAL */
  div#modal-container div.modal-window {
    width: 500px;
    min-height: 150px;
    margin: 90px auto 20px;
  }
  div#confirmation-container div.modal-window {
    width: 500px;
    margin: 90px auto 20px;
  }
  div#zoom-container div.modal-window {
    width: 600px;
    min-height: 150px;
    margin: 20px auto 20px;
  }
  div.modal-window .modal {
    float: none;
  }
  div.modal-window .modal.col_9 {
    width: auto;
  }
}
/* --- ####### LARGE VIEWPORT ###### --- */
@media screen and (min-width: 960px) {
  .center {
    width: 80%;
    max-width: 1250px;
  }
  header.toolbar ul.global-menu li.home {
    display: block;
  }
  header.toolbar ul.global-menu > li:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  header.toolbar ul.global-menu > li:last-child {
    border-left: 1px solid rgba(256, 256, 256, 0.17);
  }
  hgroup.page-title h1 {
    width: 81.25%;
  }
  /* --------------------------- BUCKET */
  section.bucket-rundown .rundown-totals {
    display: block;
    float: right;
    text-align: right;
  }
  /* --------------------------- USER */
  hgroup.user-title a.avatar-wrap {
    width: 17%;
  }
  hgroup.user-title.dashboard a.avatar-wrap {
    width: 10%;
  }
  hgroup.user-title h1 {
    font-size: 2.5em;
  }
  hgroup.user-title.dashboard h1 {
    font-size: 2.2em;
    padding-top: 2.5%;
  }
  hgroup.user-title.dashboard div.follow-summary {
    padding-top: 2.5%;
  }
  #content.user section.property-parameters div.activity-item span.icon {
    display: block;
  }
  #content.user section.property-parameters div.activity-item div.item-body {
    width: 80%;
  }
  /* --------------------------- DASHBOARD */
  #content.dashboard section.property-parameters div.activity-item a.avatar-wrap {
    width: 5%;
  }
  #content.dashboard section.property-parameters div.activity-item div.item-body {
    width: 92%;
  }
  /* --------------------------- MODAL */
  #zoom-container .drop-full .settings-toolbar {
    top: 20px;
    right: auto;
    bottom: auto;
    margin-left: 610px;
  }
}
.loading img {
  margin: 0 auto;
  display: block;
}
/******************************************************\
*
*  1. Main containers (carousel size, background)
*
\******************************************************/
.touchcarousel {
  position: relative;
  /* style is removed after carousel is inited, use !important if you want to keep it*/

  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}
.touchcarousel.col_9 {
  width: 74.9%;
}
.touchcarousel .touchcarousel-container {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
}
.touchcarousel .touchcarousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/******************************************************\
*
*  2. Carousel items (item styling, spacing between items)
*
\******************************************************/
.touchcarousel .touchcarousel-item {
  /* use margin-right for spacing between items */

  margin: 0 0 0 0;
  padding: 0;
  float: left;
}
/* Last carousel item  */
.touchcarousel .touchcarousel-item.last {
  margin-right: 0 !important;
}
/******************************************************\
*
*  3. Arrows(direction) navigation
*
\******************************************************/
/* arrow hitstate and icon holder */
.touchcarousel .arrow-holder {
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  display: block;
  cursor: pointer;
  z-index: 25;
}
.touchcarousel .arrow-holder.left {
  left: 0;
  -moz-box-shadow: 5px 0 5px #f6f6f6 inset;
  -webkit-box-shadow: 5px 0 5px #f6f6f6 inset;
  box-shadow: 5px 0 5px #f6f6f6 inset;
}
.touchcarousel .arrow-holder.right {
  right: 0;
  -moz-box-shadow: -5px 0 5px #f6f6f6 inset;
  -webkit-box-shadow: -5px 0 5px #f6f6f6 inset;
  box-shadow: -5px 0 5px #f6f6f6 inset;
}
/* arrow icons */
.touchcarousel .arrow-icon {
  width: 15px;
  height: 15px;
  margin-top: 8px;
  margin-left: -6px;
  position: absolute;
  cursor: pointer;
}
.touchcarousel .arrow-holder.disabled {
  cursor: default;
}
.touchcarousel .arrow-holder.disabled .arrow-icon {
  cursor: default;
}
/******************************************************\
*
*  4. Paging navigation
*
\******************************************************/
.touchcarousel .tc-paging-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  margin-top: -20px;
  z-index: 25;
}
.touchcarousel .tc-paging-centerer {
  float: left;
  position: relative;
  left: 50%;
}
.touchcarousel .tc-paging-centerer-inside {
  float: left;
  position: relative;
  left: -50%;
}
/* Paging items */
.touchcarousel .tc-paging-item {
  float: left;
  cursor: pointer;
  position: relative;
  display: block;
  text-indent: -9999px;
}
/******************************************************\
*
*  5. Scrollbar
*
\******************************************************/
.touchcarousel .scrollbar-holder {
  position: absolute;
  z-index: 30;
  left: 6px;
  right: 6px;
  bottom: 0;
  height: 2px;
  overflow: hidden;
}
.touchcarousel .scrollbar {
  position: absolute;
  left: 0;
  height: 4px;
  bottom: 0px;
}
.touchcarousel .scrollbar.dark {
  background-color: rgba(50, 159, 192, 0.75);
}
.touchcarousel .scrollbar.light {
  background-color: #d2d2d2;
  background-color: rgba(255, 255, 255, 0.5);
}
/******************************************************\
*
*  6. Cursors
*
\******************************************************/
/* IE and Opera use "move", FF uses -moz-grab */
.touchcarousel .grab-cursor {
  cursor: url(grab.png) 8 8, move;
}
.touchcarousel .grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move;
}
/* Cursor that used when mouse drag is disabled */
.touchcarousel .auto-cursor {
  cursor: auto;
}
