* {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   color: #555555;
   text-align: center;
   text-shadow: 1px 1px 1px #fff;
   font: normal 83%/1.2 Helvetica Neue, Helvetica, Arial, sans-serif;
   background: #f5f5f5 url(../img/bg.gif) top repeat-x;
}

a {
   text-decoration: none;
   outline: none;
}

a:hover {
   cursor: pointer;
   text-decoration: underline;
}

a,
a:link, 
a:visited {
   color: #17a9c6;
}

a img {
   border: none;
}

.center {
   width: 100%;
   margin: 0 auto;
}

.nodisplay,
.label {
   display: none;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {clear:both;}

/* For IE 6/7 */
.cf {zoom:1;}

.clear {clear:both;}

/* --------------------------- HEADER */

header {
   height: 39px;
   -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   box-shadow: 0 3px 5px rgba(0,0,0,.1);
   border-bottom: 1px solid #0f9ebb;
   background: url(../img/header_bg.gif) center -246px repeat-x;
}

header .left_bar,
header .right_bar {
   float: left;
   height: 39px;
   background: url(../img/header_bg.gif) center top repeat-x;
}

header .right_bar {
   background-position: center -246px;
}

header .center {
   float: left;
   margin: 0;
}

header hgroup {
   float: left;
   height: 39px;
   background: url(../img/header_bg.gif) center -10px repeat-x;
}

header .logo {
   float: left;
   background: url(../img/header_bg.gif) right -69px no-repeat;
}

header .logo a {
   display: block;
   width: 29px;
   height: 28px;
   background: url(../img/header_logomark.png) left center no-repeat;
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   transition: all .2s ease;
   padding-right: 5px;
   margin: 5px 10px;
}

header .logo a:hover {
   opacity: 0.7;
}

header nav li {
   display: block;
   float: left;
   height: 39px;
}

header nav li a,
header nav li a:link,
header nav li a:visited {
   display: block;
   height: 39px;
   color: #e8f3f5;
   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238,238,238,1)), to(rgba(256,256,256,1)));
   font-weight: bold;
   font-size: 1em;
   line-height: 39px;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.45);
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   transition: all .2s ease;
   padding: 0 10px;
}

header nav li.create a {
   font-weight: normal;
   padding: 0;
}

header nav li a:hover,
header nav li.active a,
header nav li.active ul.dropdown li a:hover {
   color: #fff;
   text-decoration: none;
}

header nav li ul.dropdown {
   display: none;
   position: absolute;
   z-index: 1;
   left: 0;
   width: 100%;
   text-align: left;
   -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   -webkit-border-bottom-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top: 1px solid #0f9ebb;
   border-bottom: 1px solid #0f9ebb;
   background: #2ea7c1;
   padding: 5px 0;
}

header nav li.rivers {
   background: url(../img/header_bg.gif) center -128px repeat-x;
}

header nav li.rivers a {
   padding-right: 15px;
   background: url(../img/header_bg.gif) right -187px no-repeat;
}

header nav li ul.dropdown li {
   float: none;
   height: auto;
}

header nav li ul.dropdown li a {
   height: auto;
   color: #fff;
   font-size: 1em;
   line-height: 2em;
   background: none;
   padding: 5px 20px;
}

header nav li ul.dropdown li a em {
   font-weight: normal;
}

header nav li ul.dropdown li.create_name {
   padding: 5px 20px;
}

header nav .account {
   float: right;
}

header nav .account li {
   font-size: 0.8em;
}

header nav .account li.user img {
   float: left;
   width: 25px;
   border: 1px solid #0f9ebb;
   margin: 6px 0;
}

header nav .account li.user ul.dropdown:before,
header nav .account li.login ul.dropdown:before {
   left: auto;
   right: 40px;
}

header nav .account li.user ul.dropdown li a,
header nav .account li.login ul.dropdown li a {
   font-size: 1.5em;
}

header nav li.login ul.dropdown li {
   padding: 5px 10px;
}

header nav li.login ul.dropdown li strong {
   display: block;
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,.3);
   font-size: 1.3em;
}

header nav li.login ul.dropdown li input {
   width: 93%;
   font-size: 0.9em;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   padding: 3px;
   margin: 3px 0; 
}

header nav li.login ul.dropdown li div.buttons {
   text-align: right;
}

/* --------------------------- BUTTONS */

.button_go a,
button.save {
   display: block;
   color: #fff;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   text-shadow: 1px 1px 1px rgba(0,0,0,.25);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #0f9ebb;
   box-shadow: 0 2px 3px rgba(0,0,0,.25),
      0 1px 1px rgba(256,256,256,.4) inset;
   -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25),
      0 1px 1px rgba(256,256,256,.4) inset;
   -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25),
      0 1px 1px rgba(256,256,256,.4) inset;
   background: rgb(99,196,216);
   background: -moz-linear-gradient(top, rgba(99,196,216,1) 0%, rgba(99,196,216,1) 34%, rgba(24,169,199,1) 61%, rgba(24,169,199,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,196,216,1)), color-stop(34%,rgba(99,196,216,1)), color-stop(61%,rgba(24,169,199,1)), color-stop(100%,rgba(24,169,199,1)));
   background: -webkit-linear-gradient(top, rgba(99,196,216,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: -o-linear-gradient(top, rgba(99,196,216,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: -ms-linear-gradient(top, rgba(99,196,216,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: linear-gradient(top, rgba(99,196,216,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c4d8', endColorstr='#18a9c7',GradientType=0 );
}

.button_go a:hover {
   box-shadow: 0 2px 3px rgba(0,0,0,.15);
   -moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
   -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
   background: rgb(138,216,232);
   background: -moz-linear-gradient(top, rgba(138,216,232,1) 0%, rgba(99,196,216,1) 34%, rgba(24,169,199,1) 61%, rgba(24,169,199,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,216,232,1)), color-stop(34%,rgba(99,196,216,1)), color-stop(61%,rgba(24,169,199,1)), color-stop(100%,rgba(24,169,199,1)));
   background: -webkit-linear-gradient(top, rgba(138,216,232,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: -o-linear-gradient(top, rgba(138,216,232,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: -ms-linear-gradient(top, rgba(138,216,232,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   background: linear-gradient(top, rgba(138,216,232,1) 0%,rgba(99,196,216,1) 34%,rgba(24,169,199,1) 61%,rgba(24,169,199,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ad8e8', endColorstr='#18a9c7',GradientType=0 );
}

.button_view a,
.button_change a,
button.cancel {
   display: block;
   color: #777777;
   font-weight: bold;
   text-transform: uppercase;
   text-shadow: 1px 1px 1px #fff;
   border: 1px solid #c2c2c2;
}

.button_go a:hover,
.button_view a:hover,
.button_change a:hover {
   text-decoration: none;
}

.button_view a {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   -moz-box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   -webkit-box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   background: rgb(255,255,255);
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1)));
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
   background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.button_view a:hover {
   background: #eeeeee;
}

.button_change a {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   -moz-box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   -webkit-box-shadow: 0 0 1px rgba(256,256,256,.9) inset;
   background: rgb(230,230,230);
   background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(222,222,222,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(222,222,222,1)));
   background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(222,222,222,1) 100%);
   background: -o-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(222,222,222,1) 100%);
   background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(222,222,222,1) 100%);
   background: linear-gradient(top, rgba(230,230,230,1) 0%,rgba(222,222,222,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#dedede',GradientType=0 );
}

.button_change a:hover {
   background: #dedede;
}

.page_buttons {
   width: 40%;
   margin: 20px auto;
}

.page_buttons a {
   padding: 15px 0;
}

/* --------------------------- SYSTEM MESSAGES */

div.system_message {
   border: 1px solid #6ccbdf;
   background: #b8e8f2;
   padding: 10px;
   margin: 10px;
}

div.system_success {
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,.4);
   border: 1px solid #269cb5;
   background: #3eb8d2;
}

div.system_error {
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,.4);
   border: 1px solid #c22f2f;
   background: #ef7f7f;
}

/* --------------------------- EDIT */

.edit:hover {
   background: #FFFDF0;
}

button.save,
button.cancel {
   display: inline;
   font-size: 0.9em;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   padding: 5px 10px;
   margin: 5px 0;
}

button.save {
   margin-right: 10px;
}

button:hover {
   cursor: pointer;
}

/* --------------------------- TABS */

ul.tabs {
   float: left;
   width: 30%;
}

ul.tabs li.button_view {
   border-right: 1px solid #d2d2d2;
   border-bottom: 1px solid #d2d2d2;
}

ul.tabs li.active {
   border-right: 1px solid #f5f5f5;
}

ul.tabs li:last-child {
   border-bottom: none;
}

ul.tabs li.button_view a {
   display: block;
   font-size: 0.9em;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   border: none;
   padding: 18px 10px;
}

ul.tabs li.active a {
   color: #17A9C6;
   background: #f5f5f5;
}

ul.tabs li.more {
   box-shadow: 0 3px 2px rgba(0,0,0,.1) inset;
   -moz-box-shadow:  0 3px 2px rgba(0,0,0,.1) inset;
   -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.1) inset;
}

ul.tabs li.more a {
   display: block;
   color: #7b7b7b;
   font-size: 0.9em;
   padding: 5px;
}

div.tab_container {
   float: left;
   width: 67%;
   padding: 0 1.0416666667%;
}

div.tab_controls {
   border: 1px solid #dadada;
   background: #f5f5f5;
   margin: 15px 1.0416666667%;
}

/* --------------------------- LIST STREAM */

.list_stream {
   text-align: left;
}

.list_stream ul {
   padding: 5px;
}

.list_stream ul li {
   font-size: 1.5em;
   padding: 10px 0;
}

.list_stream ul li div.button_change,
.list_stream ul li span.subscriber_count {
   float: right;
   text-align: right;
}

.list_stream ul li div.button_change a {
   padding: 3px;
}

.list_stream ul li div.button_change a.subscribe span.icon {
   display: block;
   width: 13px;
   height: 12px;
   background: url(../img/user-subscribe_icons.png) center top no-repeat;
}

.list_stream ul li div.button_change a.subscribed {
   border: 1px solid #17A9C6;
   background: #17A9C6;
}

.list_stream ul li div.button_change a.subscribed span.icon {
   background-position: center bottom;
}

.list_stream ul li span.subscriber_count a {
   color: #999999;
   font-size: 0.7em;
}

.list_stream ul li span.subscriber_count a strong {
   color: #666666;
   font-size: 1.3em;
}

/* --------------------------- CONTROLS */

.controls h3 {
   font-size: 1.2em;
   padding: 5px 0;
}

.controls input {
   font-size: 1.2em;
   padding: 5px;
}

.controls div.input {
   text-align: left;
   padding: 10px 1.0416666667%;
}

.controls div.input input {
   width: 90%;
}

.controls div.row {
   clear: both;
   padding: 0 1.0416666667%;
}

.controls div.row ul li {
   font-size: 1.2em;
   padding: 5px 0;
}

.controls_buttons p.button_go,
.controls_buttons p.other {
   float: right;
   margin: 0 1.0416666667%;
}

.controls_buttons p.button_go a {
   padding: 15px 50px;
}

.controls_buttons p.other {
   padding: 15px 20px;
}

/* --------------------------- TITLE */

.page_title {
   text-align: left;
   padding: 15px 0;
}

.page_title hgroup {
   text-align: center;
   margin: 0 1.0416666667%;
}

.page_title hgroup img {
   float: left;
   width: 50px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 3px solid #dadada;
   margin-right: 10px;
}

.page_title h1 {
   color: #BBBBBB;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   font-size: 3.2em;
   text-shadow: 1px 1px 1px #fff;
}

article.dashboard .page_title h1 {
   text-align: left;
   font-size: 2.3em;
   padding-top: 7px;
}

.edit div.buttons {
   clear: both;
   width: 100%;
   text-align: right;
   padding: 10px 0;
}

.edit input {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   font-size: 0.7em;
   width: 100%;
   border: 1px solid #c2c2c2;
   background: #FFFAD8;
   padding: 5px;
}

@-webkit-keyframes fill {
 0% {
   background-color: yellow;
   margin-left: -500px;
 }
 50% {
   background-color: yellow;
 }
 100% {
   background-color: #3fb9d3;
   margin-left: 0;
 }
}

@-webkit-keyframes fly {
 0% {
   margin-left: -500px;
 }
 100% {
   margin-left: -40px;
 }
}

.page_title section.meter {
   clear: both;
   overflow: hidden;
   padding: 0 1.0416666667%;
   margin-bottom: 10px;
}

.page_title section.meter p {
   color: #888888;
   font-size: 0.8em;
   padding: 2px 0;
   margin-left: -40px;
   -webkit-animation-name: fly;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-timing-function: ease-in-out;
}

.page_title section.meter p strong {
   color: #666666;
   font-size: 1.3em;
}

.page_title section.meter div {
   height: 12px;
   overflow: hidden;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0 1px 1px rgba(256,256,256,1);
   -webkit-box-shadow: 0 1px 1px rgba(256,256,256,1);
   box-shadow: 0 1px 1px rgba(256,256,256,1);
   background: url(../img/title-meter_bg.gif) repeat-x;
}

.page_title section.meter div span {
   display: block;
   height: 12px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #3fb9d3;
   -webkit-animation-name: fill;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-timing-function: ease-in-out;
}

article#droplet_full .page_title p.button_change a.subscribed {
   border: none;
   background: none;
}

article.droplet .page_title section.actions {
   clear: both;
   margin-top: 15px;
}

/* --------------------------- PANEL */

section.panel {
   text-align: left;
   border-top: 1px solid #dadada;
   background: #e8e8e8 url(../img/panel_shadow.gif) bottom repeat-x;
}

section.preload {
   border-top: 1px solid #fff;
   background: #fff;
}

section.panel nav {
   height: 36px;
   overflow: hidden;
}

section.panel nav ul.views {
   float: left;
}

section.panel nav ul.actions {
   float: right;
}

section.panel nav ul li {
   float: left;
   text-transform: uppercase;
}

section.panel nav ul li a {
   display: block;
   padding: 10px 15px 12px 15px;
}

section.panel nav ul.views li a {
   color: #999999;
}

section.panel nav ul.views li.active a {
   color: #17a9c6;
   -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   box-shadow: 0 3px 5px rgba(0,0,0,.1);
   font-weight: bold;
   background: #fff;
}

section.panel nav ul.views li:last-child.active a {
   color: #999999;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   background: none;
}

section.panel nav ul.actions li a {
   opacity: 0.7;
   font-weight: bold;
}

section.panel nav ul li a:hover {
   color: #666666;
   text-decoration: none;
}

section.panel nav ul.actions li.active a,
section.panel nav ul.actions li a:hover {
   opacity: 1;
   color: #17a9c6;
}

section.panel nav ul.actions li a span.icon {
   padding: 7px;
   margin-right: 4px;
}

section.panel nav ul.actions li a.channels span.icon {
   background: url(../img/title-channels.png) left 8px no-repeat;
}

section.panel nav ul.actions li a.filter span.icon {
   background: url(../img/title-filter.png) left 9px no-repeat;
}

section.panel #channels,
section.panel #filters,
section.panel #account_settings,
section.panel #trends {
   padding-bottom: 15px;
}

section.panel .filters,
section.panel .options {
   padding: 0 1.0416666667%;
}

section.panel .row {
   font-size: 0.9em;
   padding: 1.0416666667%;
}

section.panel #filters .row h3 {
   float: left;
   font-weight: normal;
   text-transform: none;
   margin-right: 5px;
}

section.panel #filters .row h3 strong {
   font-weight: bold;
   text-transform: uppercase;
}

section.panel .options {
   border-top: 1px solid #dadada;
   padding-bottom: 20px;
}

section.panel #filters select {
   margin-top: 4px;
}

section.panel #filters .options ul li {
   font-size: 1em;
   padding: 0;
   margin-top: 4px;
}

section.panel #filters .options ul li a {
   float: left;
   color: #444444;
   font-weight: bold;
   text-transform: uppercase;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   background: #dadada;
   padding: 2px 10px;
   margin-right: 7px;
}

section.panel #filters .options ul li a:hover {
   background: #bfbfbf;
   text-decoration: none;
}

section.panel #filters .options ul li a span {
   float: right;
   margin-left: 5px;
}

section.panel #filters .options ul li a span:before {
   content: "+";
}

section.panel .options p.button_go a {
   float: right;
   width: 20%;
   font-size: 1.1em;
   padding: 13px 30px;
}

section.panel .options p.save {
   float: right;
   padding: 15px 20px;
}

section.panel .options p.save span {

}

/* --------------------------- CANVAS */

.canvas {
   -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
   box-shadow: 0 3px 5px rgba(0,0,0,.1);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   background: #fff;
}

div.arrow {
   height: 21px;
   background: url(../img/droplet-detail_shadow.gif) top repeat-x;
}

div.bottom {
   text-align: center;
   background: url(../img/droplet-detail_shadow.gif) bottom repeat-x;
}

div.top span {
   display: block;
   height: 21px;
   background: url(../img/droplet-detail_arrow.gif) center top no-repeat;
}

div.bottom a.close {
   color: #888888;
   font-weight: bold;
   text-transform: uppercase;
   -webkit-border-top-left-radius: 6px;
   -webkit-border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   -moz-border-radius-topright: 6px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,.1);
   box-shadow: 0 -2px 2px rgba(0,0,0,.1);
   background: #fff;
   padding: 10px 20px;
}

div.bottom a.close:hover {
   color: #666666;
   text-decoration: none;
}

/* --------------------------- DROPLET */

article.droplet {
   border-bottom: 1px solid #f2f2f2;
   padding: 20px 0;
}

article.droplet div.summary,
article.droplet div.canyon {
   padding: 0 1.0416666667%;
}

article.droplet section.source,
article.droplet section.content,
article.droplet section.actions,
article.droplet section.detail {
   float: left;
}

article.droplet section.source {
   width: 15.41666667%;
   padding: 0 1.0416666667%;
}

article.droplet section.content {
   width: 62.5%;
   text-align: left;
   padding: 0 1.0416666667%;
}

article.droplet section.actions {
   width: 7.446808511%;
   width: 14.89361702%;
   padding: 0 1.0416666667%;
}

article.droplet section.source img {
   display: block;
   width: 100%;
   margin-bottom: 2px;
}

article.droplet section.source .actions span.type {
   display: block;
   width: auto;
   height: 12px;
   border: 1px solid #c2c2c2;
   border-bottom: none;
   padding: 4px 0;
}

article.droplet section.twitter .actions span {
   background: #4ed3ff url(../img/icon_twitter.png) center no-repeat;
}

article.droplet section.facebook .actions span {
   background: #3b5999 url(../img/icon_facebook.png) center no-repeat;
}

article.droplet section.sms .actions span {
   background: #48a63b url(../img/icon_sms.png) center no-repeat;
}

article.droplet section.swiftriver .actions span {
   background: #f5f5f5 url(../img/icon_swiftriver.png) center no-repeat;
}

article.droplet section.rss .actions span {
   background: #ff7700 url(../img/icon_rss.png) center no-repeat;
}

article.droplet section.source .actions p.score a {
   display: block;
   height: 21px;
   font-size: 0.9em;
   line-height: 21px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   padding: 1px 0;
}

article.droplet section.source .actions p.score a span {
   background: url(../img/icon_score.png) left center no-repeat;
   padding-left: 18px;
}

article.droplet section.source .actions p.score a.scored {
   border: 1px solid #fff;
   background: #fff;
}

article.droplet section.source .actions ul.dropdown {
   display: none;
   position: absolute;
   z-index: 1;
   width: 40%;
   left: 0;
   -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
   box-shadow: 0 0 5px rgba(0,0,0,.1);
   border: 1px solid #c2c2c2;
   background: #fff;
   padding: 10px;
   margin: -5px -10px 0 0;
}

article.droplet section.source .actions ul.dropdown li.useful a {
   font-weight: bold;
   font-size: 1.1em;
}

article.droplet section.source .actions ul.dropdown li.not_useful a {
   color: #888888;
   font-style: italic;
   font-size: 0.85em;
   padding-top: 5px;
}

article.droplet section.content .title p.date {
   float: right;
   color: #888888;
   font-style: italic;
   padding: 3px 0 0 10px;
}

article.droplet section.content .title h1 {
   color: #444444;
   font-size: 1.3em;
}

article.droplet section.content .title h1 span a {
   color: #888888;
   font-weight: normal;
}

article.droplet section.content .body p {
   font-size: 1em;
   padding: 5px 0;
}

article.droplet section.actions p a {
   font-size: 0.8em;
   padding: 10px 5px;
}

article.droplet section.actions p a:hover {
   text-decoration: none;
}

article.droplet section.actions p.button_view a {
   -webkit-border-bottom-left-radius: 0;
   -webkit-border-bottom-right-radius: 0;
   -moz-border-radius-bottomleft: 0;
   -moz-border-radius-bottomright: 0;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom: none;
}

article.droplet section.actions p.button_change a {
   -webkit-border-top-left-radius: 0;
   -webkit-border-top-right-radius: 0;
   -moz-border-radius-topleft: 0;
   -moz-border-radius-topright: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

article.droplet section.actions p.button_view a.detail_hide {
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,.25);
   box-shadow: 0 2px 4px rgba(0,0,0,.25) inset;
   -moz-box-shadow: 0 2px 4px rgba(0,0,0,.25) inset;
   -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25) inset;
   background: #c2c2c2;
}

article.droplet section.actions p.bucket a.bucket_added,
article.droplet section.actions p.button_change a.subscribed {
   color: #acacac;
   border: 1px solid #fff;
   border-top: 1px solid #c2c2c2;
   background: #fff;
}

article.droplet section.actions p.button_change a.subscribed {
   border-top: 1px solid #ffffff;
}

article.droplet section.actions p.active a {
   border: 1px solid #c2c2c2;
   background: #fff;  
}

article.droplet section.actions ul.dropdown {
   display: none;
   position: absolute;
   z-index: 1;
   width: 40%;
   right: 0;
   text-align: left;
   -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
   box-shadow: 0 0 5px rgba(0,0,0,.1);
   border: 1px solid #c2c2c2;
   background: #fff;
   padding: 10px;
   margin: -10px 0 0 -10px;
}

article.droplet section.actions ul.dropdown li a {
   display: block;
   color: #acacac;
   font-weight: bold;
   text-transform: none;
   padding: 5px;
}

article.droplet section.actions ul.dropdown li a:hover {
   color: #999999;
   text-decoration: none;
}

article.droplet section.actions ul.dropdown li a.selected {
   color: #17a9c6;
}

article.droplet section.actions ul.dropdown li.create_new a {
   font-weight: normal;
}

article.droplet section.actions ul.dropdown li span.select {
   float: left;
   width: 10px;
   height: 10px;
   border: 1px solid #c2c2c2;
   margin: 2px 5px 0 0;
}

ul.dropdown li.create_name div.buttons {
   text-align: right;
}

article.droplet section.actions ul.dropdown li a.selected span.select {
   background: #17a9c6;
}

ul.dropdown li.create_name input {
   width: 95%;
   font-size: 0.9em;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   border: 1px solid #c2c2c2;
   background: #FFFAD8;
   padding: 3px;
}

ul.dropdown li.create_name button {
   font-size: 0.8em;
   padding: 3px;
}

article#droplet_full section.actions p.bucket a.bucket_added {
   border-top: 1px solid #fff;
}

article.droplet section.actions p a span {
   display: block;
   height: 20px;
   background: url(../img/droplet-actions_icons.png) center no-repeat;
}

article.droplet section.actions p.follow_user span {
   display: block;
   height: 27px;
   background: url(../img/user-actions_icons.png) center no-repeat;
}

article.droplet section.actions p a strong {
   display: none;
}

article.droplet section.actions p.button_view a.detail_view span {
   background-position: center -40px;
}

article.droplet section.actions p.button_view a.detail_hide span {
   background-position: center -60px;
}

article.droplet section.actions p.bucket a span {
   background-position: center top;
}

article.droplet section.actions p.bucket a.bucket_added span {
   background-position: center -20px;
}

article.droplet section.actions p.follow_user a.subscribe span {
   background-position: center top;
}

article.droplet section.actions p.follow_user a.subscribed span {
   background-position: center bottom;
}

article.droplet section.actions p.button_view a.detail_view strong:before {
   content: "View more ";
}

article.droplet section.actions p.button_view a.detail_hide strong:before {
   content: "Hide ";
}

article.droplet section.actions p.bucket strong:before {
   content: "Add to ";
}

article.droplet section.actions p.bucket a.bucket_added strong:before {
   content: "Edit ";
}

article.droplet section.actions p.follow_user a.subscribed strong:after {
   content: "ing";
}

/* --------------------------- DROPLET DETAIL */

article.droplet section.detail {
   display: none;
   text-align: left;
   text-shadow: 1px 1px 1px #fff;
   background: #f8f8f8;
   margin-top: 15px;
}

article#droplet_full section.detail {
   display: block;
   background: rgb(248,248,248);
   background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(30%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
   background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
   background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
   background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
   background: linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 );
   margin-top: 0;
}

article.droplet section.detail h2 {
   color: #045376;
   font-size: 1.2em;
}

article.droplet section.detail aside,
article.droplet section.detail article.fullstory,
article.droplet section.detail section.discussion {
   padding: 10px 1.0416666667%;
}

article.droplet aside .item {
   padding-bottom: 10px; 
}

article.droplet aside .item h2 {
   float: left;
   padding-right: 10px;
}

article.droplet aside .item p {
   float: left;
   font-size: 1em;
   padding: 3px 0 0 0;
}

article.droplet aside .item ul.tags li {
   float: left;
   margin: 2px 2px 6px 2px;
}

article.droplet aside .item ul.tags li a {
   color: #666666;
   font-size: 0.9em;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   background: #dadada;
   padding: 2px 7px;
}

article.droplet section.detail article.fullstory h1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   font-size: 2.3em;
   padding: 7px 0;
}

article.droplet section.detail article.fullstory img {
   float: right;
   margin: 0 0 10px 10px;
}

article.droplet section.detail article.fullstory p {
   padding: 5px 0;
}

article.droplet section.detail article.droplet div.summary {
   padding: 0;
}

article.droplet section.detail article.droplet section.source,
article.droplet section.detail article.droplet section.actions {
   text-align: center;
}

article.droplet section.detail article.droplet section.source {
   padding-left: 0;
}

article.droplet section.detail article.droplet section.content .title h1 {
   font-size: 1.2em;
}

article.droplet section.detail article.droplet section.content .body p {
   font-size: 1em;
}

article.droplet section.detail article.droplet section.content .body p.button_go {
   width: 25%;
}

article.droplet section.detail article.droplet section.content .body p.button_go a {
   font-size: 0.8em;
   padding: 3px 0;
}

article.droplet section.detail article.droplet section.actions div.button {
   width: auto;
   height: auto;
}

article.droplet section.detail article.droplet section.actions p.button_change a {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}

article.droplet section.detail article.add_reply {
   border-bottom: none;
}

article.droplet section.detail article.add_reply section.content textarea {
   width: 100%;
}

article.droplet section.detail article.add_reply section.content p.button_go {
   float: right;
   margin-top: 10px;
}

article.droplet section.detail article.add_reply section.content p.button_go a {
   font-size: 1.1em;
   padding: 13px 30px;
}

/* --------------------------- SUMMARY FULL */

article#droplet_full div#summary_full {
   padding: 2.08333333% 1.0416666667%;
}

div#summary_full section.source {
   width: 82.9787234%;
   padding: 0;
}

div#summary_full section.source .visual {
   float: left;
   width: 16.88311688%;
   padding: 0 1.0416666667%;
}

div#summary_full section.source .text {
   float: left;
   width: 78.22077922%;
   text-align: left;
   padding: 0 1.0416666667%;
}

div#summary_full section.source .text h1 {
   font-size: 1.5em;
}

div#summary_full section.source .text h2 {
   color: #888888;
   font-style: italic;
   font-size: 1.3em;
}

div#summary_full section.source .text p.date {
   color: #888888;
   font-style: italic;
}

div#summary_full section.actions p.button_change a {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

div#summary_full section.content {
   clear: both;
   width: 97.5%;
   padding: 0;
}

div#summary_full section.content .body {
   font-size: 1.2em;
   padding: 1.0416666667%;
}

div#summary_full section.actions div.button {
   width: auto;
}

article#droplet_full div.bottom {
   background: none;
}

/* --------------------------- DASHBOARD */

article.dashboard {
   padding: 0;
}

article.dashboard div.activity_feed article.droplet section.content {
   width: 79.78723404%;
}

article.dashboard .list_stream {
   padding: 10px 1.0416666667%; 
}

article.dashboard aside {
   text-align: left;
   border-top: 4px solid #045376;
   padding: 10px 1.0416666667%;
   margin-top: 15px;
}

article.dashboard aside h2 {
   color: #045376;
   font-size: 1.2em;
   padding: 5px 0;
}

article.dashboard aside h2 span {
   color: #888888;
   font-weight: normal;
}

article.dashboard aside ul.relationships li {
   display: block;
   float: left;
   width: 30px;
   margin-right: 5px;
}

article.dashboard aside ul.relationships li img {
   width: 100%;
}

/* --------------------------- CHANNELS */

div#channels {
   text-align: left;
   padding: 1.0416666667%;
}

div#channels .keywords {
   padding: 0 1.0416666667% 15px 1.0416666667%;
}

div#channels .keywords h3 {
   font-size: 1.3em;
   padding: 3px 0 7px 0;
}

div#channels .keywords input {
   width: 50%;
}

div#channels .controls ul.tabs li.button_view {
   padding-left: 25px;
}

div#channels .controls ul.tabs li.twitter {
   background: #4ed3ff url(../img/icon_twitter.png) 5px center no-repeat;
}

div#channels .controls ul.tabs li.facebook {
   background: #3b5999 url(../img/icon_facebook.png) 5px center no-repeat;
}

div#channels .controls ul.tabs li.rss {
   background: #ff7700 url(../img/icon_rss.png) 5px center no-repeat;
}

div#channels .controls ul.tabs li.sms {
   background: #48a63b url(../img/icon_sms.png) 5px center no-repeat;
}

div#channels .controls ul.tabs li.button_view a span.switch_off,
div#channels .controls ul.tabs li.button_view a span.switch_on {
   display: block;
   width: 50px;
   height: 18px;
   color: #fff;
   font-size: 11px;
   line-height: 18px;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.45);
   background: url(../img/channels_switch.png) no-repeat;
}

div#channels .controls ul.tabs li.button_view a span.switch_on {
   background-position: center bottom;
}

div#channels .controls ul.tabs li.button_view a span.switch_on:before {
   content: "on";
   padding-left: 8px;
}

div#channels .controls ul.tabs li.button_view a span.switch_off:before {
   content: "off";
   padding-left: 20px;
}

/* --------------------------- MAP */

section.map {
   padding: 10px 1.0416666667%;
}

section.map iframe.map {
   width: 97.87234043%;
   height: 300px;
   margin: 10px 1.0416666667%;
}

section.map div.legend {
   text-align: left;
   margin: 10px 1.0416666667%;
}

section.map div.legend ul li {
   font-size: 1.2em;
   padding-left: 15px;
   margin: 10px 0;
}

section.map div.legend ul li.all {background-color:#3333ad;}
section.map div.legend ul li.cat1 {background-color:#c94c4c;}
section.map div.legend ul li.cat2 {background-color:#609e48;}

section.map div.legend ul li a {
   display: block;
   background: #fff;
   padding-left: 10px;
}

/* --------------------------- FOOTER */

footer {
   padding: 30px 0;
}

footer a,
footer a:link,
footer a:visited {
   color: #888888;
}

footer p,
footer ul,
footer ul li {
   display: inline;
}

footer p {
  margin: 0 1.0416666667%;
}

footer p a,
footer p a:link,
footer p a:visited {
   opacity: 0.7;
   color: #2fa8c1;
   font-weight: bold;
   background: url(../img/header_logomark.png) left center no-repeat;
   padding: 10px 0 10px 33px;
}

footer p a:hover {
   opacity: 1;
   text-decoration: none;
}

footer li a {
   font-size: 0.9em;
   padding: 0 10px;
}

/* --- ####### SMALL VIEWPORT ###### --- */

@media screen and (max-width: 480px) {

ul.tabs li.button_view {
   font-size: 0.75em;
}

article.droplet section.detail article.add_reply section.content {
   width: 80%;
}

}

/* --- ####### MEDIUM VIEWPORT ###### --- */

@media screen and (min-width: 615px) {

.center {
   width: 96%;
   margin: 0 2%;
}

header {
   height: 59px;
   border-bottom: none;
   background-position: center -236px;
}

header .center {
   width: 96%;
}

header .left_bar,
header .right_bar {
   width: 2%;
   height: 59px;
}

header .right_bar {
   background-position: center -236px;
}

header hgroup {
   height: 59px;
   background-position: center top;
}

header .logo {
   background-position: right -59px;
}

header .logo a {
   width: 159px;
   height: 47px;
   background: url(../img/header_logo.png) left center no-repeat;
   margin: 5px 30px 6px 10px;
}

header hgroup,
header nav li,
header nav li a,
header nav li a:link,
header nav li a:visited,
header nav li a span.arrow {
   height: 59px;
}

header nav li a,
header nav li a:link,
header nav li a:visited {
   font-size: 1.15em;
   line-height: 59px;
   padding: 0 24px;
}

header nav li.rivers {
   background-position: center -118px;
}

header nav li.rivers a {
   padding-right: 24px;
   background-position: right -177px;
}

header nav li.create a {
   font-size: 1em;
   padding: 0;
}

header nav li a span.arrow {
   float: right;
   display: block;
   width: 12px;
   height: 59px;
   background: url(../img/arrows.png) left center no-repeat;
   margin: 0 7px;
}

header nav li.active a span.arrow {
   background-position: -12px center;
}

header nav .account li.user img {
   margin: 16px 7px 15px 0;
}

header nav li ul.dropdown {
   display: none;
   position: absolute;
   z-index: 1;
   left: auto;
   width: 200px;
   text-align: left;
   -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   box-shadow: 0 2px 5px rgba(0,0,0,.3),
      0 -1px 1px rgba(256,256,256,.4) inset;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   border: 1px solid #0f9ebb;
   background: #2ea7c1;
   padding: 5px 0;
   margin-top: 10px;
}

header nav .account li.user ul.dropdown,
header nav .account li.login ul.dropdown {
   right: 2%;
}

header nav li ul.dropdown:before {
   content: ' ';
   height: 0;
   position: absolute;
   top: -21px;
   left: 40px;
   width: 0;
   border: 10px solid transparent;
   border-bottom-color: #0f9ebb;
}

.label {display: inline;}

header nav .account li.user span.label,
header nav .account li.user span.arrow {
   display: none;
}

ul.tabs {
   width: 22.82608696%;
}

div.tab_container {
   width: 75%;
}

div#channels .controls ul.tabs li.button_view a span.switch_off,
div#channels .controls ul.tabs li.button_view a span.switch_on {
   float: right;
}

.page_title {
   padding: 25px 0;
}

.page_title hgroup {
   float: left;
   text-align: left;
}

.page_title h1 {
   float: left;
   padding-right: 10px;
}

article.dashboard .page_title h1 {
   font-size: 3.2em;
   padding-top: 0;
}

.page_title section.meter {
   clear: none;
   float: right;
   width: 39.58333333%;
   margin-top: 3px;
}

article.droplet .page_title section.actions {
   float: right;
   clear: none;
   margin: 0;
}

article#droplet_full .page_title section.actions p a {
   height: 30px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}

article.droplet section.source {
   width: 8.510638298%;
}

article.droplet section.content {
   width: 70.21276596%;
}

article.droplet section.actions {
   width: 14.89361702%;
}

article.droplet section.source .actions span.type {
   float: left;
   width: 18.75%;
   height: 15px;
   border: none;
   border-right: 1px solid rgba(256,256,256,0.7);
   padding: 2px;
}

article.droplet section.source .actions p.score a {
   height: 15px;
   line-height: 15px;
}

article.droplet section.content .title h1 {
   font-size: 1.4em;
   padding-top: 3px;
}

article.droplet section.content .body p {
   font-size: 1.1em;
}

article.droplet section.content .title p.date {
   padding-top: 5px;
}

article.droplet section.actions ul.dropdown,
article.droplet section.source .actions ul.dropdown {
   width: auto;
   right: auto;
   left: auto;
}

article.droplet section.detail article.fullstory h1 {
   padding: 0 0 5px 0;
}

article.droplet section.detail article.droplet section.content .body p.button_go {
   width: 17%;
}

div#summary_full section.source .text h1 {
   font-size: 2.2em;
}

div#summary_full section.source .text p.date {
   padding-top: 3px;
}

div#summary_full section.content .body p {
   font-size: 1.2em;
}

section.map iframe.map {
   float: left;
   width: 73.40425532%;
   height: 350px;
}

section.map div.legend {
   float: left;
   width: 22.34042553%;
}

footer {
   text-align: right;
}

article.dashboard section.panel nav ul.views li.view_panel {
   display: none;
}

article.dashboard div.activity_feed article.droplet section.content {
   width: 86.45833333%;
}

.controls div.input {
   float: left;
   width: 47.55072464%;
}

.controls div.row {
   padding: 10px 1.0416666667%;
}

}

/* --- ####### LARGE VIEWPORT ###### --- */

@media screen and (min-width: 960px) {

.center {
   width: 84%;
   margin: 0 8%;
}

header {
   background-position: center -236px;
}

header .center {
   width: 84%;
}

header .left_bar,
header .right_bar {
   width: 8%;
}

header nav .account li.user span.label,
header nav .account li.user span.arrow {
   display: inline;
}

header nav .account li.user ul.dropdown,
header nav .account li.login ul.dropdown {
   right: 8%;
}

article#droplet_full .page_title section.actions p a span {
   float: left;
   width: 27px;
   margin: 0 10px;
}

article#droplet_full .page_title section.actions p a strong {
   line-height: 25px;
}

article.droplet section.actions p.button_view,
article.droplet section.actions div.button {
   float: left;
   width: 50%;
}

article#droplet_full section.actions p {
   float: none;
   width: 100%;
}

article.droplet section.actions p a {
   height: 75px;
}

article#droplet_full section.actions p.button_change a {
   height: 65px;
   padding-top: 15px;
}

article.droplet section.actions p.button_view a {
   -webkit-border-top-right-radius: 0;
   -moz-border-radius-topright: 0;
   border-top-right-radius: 0;
   -webkit-border-top-left-radius: 6px;
   -webkit-border-bottom-left-radius: 6px;
   -moz-border-radius-topleft: 6px;
   -moz-border-radius-bottomleft: 6px;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   border-right: none;
   border-bottom: 1px solid #c2c2c2;

}

article.droplet section.actions p.button_change a {
   -webkit-border-top-right-radius: 6px;
   -webkit-border-bottom-right-radius: 6px;
   -moz-border-radius-topright: 6px;
   -moz-border-radius-bottomright: 6px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   -webkit-border-bottom-left-radius: 0;
   -moz-border-radius-bottomleft: 0;
   border-bottom-left-radius: 0;
}

article.droplet section.actions p.bucket a.bucket_added {
   border: 1px solid #fff;
   border-left: 1px solid #c2c2c2;
}

article.droplet section.actions p.button_change a.subscribed {
   border-top: 1px solid #fff;
}

article#droplet_full section.actions p.bucket a.bucket_added {
   border-left: 1px solid #fff;
}

article.droplet section.actions p a span {
   margin-bottom: 10px;
}

article.droplet section.actions p a strong {
   display: block;
}

article.droplet aside {
   float: left;
   width: 22.34042553%;
}

article.droplet aside .item {
   padding-bottom: 20px; 
}

article.droplet section.detail .right_column {
   float: left;
   width: 73.40425532%;
}

article.droplet aside .item h2,
article.droplet aside .item p {
   float: none;
}

article.droplet section.detail aside .item ul li {
   margin: 5px 2px 5px 2px;
}

article.droplet section.detail article.fullstory h1 {
   font-size: 2.5em;
   padding: 5px 0 7px 0;
}

article.dashboard div.activity_feed {
   float: left;
   width: 73.40425532%;
}
   
}